include /_mixin.pug

+list
  +listItem(__("Name"))
    - var name = "name" in old ? old.name : performer.name;
    +input.w-full(
      @input="$dispatch('data-changed')",
      name="name",
      value=name
    )
    +error("name")

  +listItem(__("Thumbnail"))
    +inputThumbnail(performer.thumbnail)(@input="$dispatch('data-changed')")

  +listItem(__("Rating"))
    +setRating(`/performers/${performer.id}`, performer.rating)

  +listItem(__("Description"))
    - var description = "description" in old ? old.description : performer.description;
    +textarea.w-full(
      @input="$dispatch('data-changed')",
      name="description"
    )= description

  +listItem(__("Created At"))
    span= dayjs(performer.createdAt).format("YYYY-MM-DD HH:mm:ss")
  +listItem(__("Updated At"))
    span= dayjs(performer.updatedAt).format("YYYY-MM-DD HH:mm:ss")
