extends ../_layout.pug

block vars
  - var title = performer.name;

block append breadcrumb
  +breadcrumb({ href: '/performers', icon: "icon-[fluent--people-team-20-regular]", name: __("Performer") })

block body
  +tab.mb-4
    +tabItem(isSamePath(`/performers/${performer.id}`))(
      href=`/performers/${performer.id}`
    )
      i.text-2xl(class="icon-[material-symbols--info-outline]")
      span= __("Info")
    +tabItem(isSamePath(`/performers/${performer.id}/labels`))(
      href=`/performers/${performer.id}/labels`
    )
      i.text-2xl(class="icon-[mynaui--label]")
      span= __("Label")
    +tabItem(isSamePath(`/performers/${performer.id}/media`))(
      href=`/performers/${performer.id}/media`
    )
      i.text-2xl(class="icon-[ph--play]")
      span= __("Media")
    +tabItem(isSamePath(`/performers/${performer.id}/playlists`))(
      href=`/performers/${performer.id}/playlists`
    )
      i.text-2xl(class="icon-[mage--playlist]")
      span= __("Playlist")
