include /_mixin.pug

form(action=`${basePath}/performers`, hx-target="#modal", method="post")
  h2.mb-4.text-lg.font-bold.text-gray-700(class="dark:text-gray-300")= __("Create a new performer")

  +list.mb-4
    +listItem(__("Name"))
      +input.w-full(name="name", type="text", value=old.name)

      +error("name")

    +listItem(__("Thumbnail"))
      +inputThumbnail

    +listItem(__("Description"))
      +textarea#description(name="description")= old.description

  +buttonGroup.ml-auto
    +buttonGroup
      +buttonInGroup#save(type="submit")
        i.text-2xl(class="icon-[material-symbols--save-outline]")
        span= __("Save")
      +buttonInGroup#cancel(@click="show = false", type="button")
        i.text-2xl(class="icon-[material-symbols--close]")
        span= __("Cancel")
