include /_mixin.pug

form(action="/performers", hx-target="#modal", method="post")
  h2.mb-4.text-lg.font-bold.text-gray-700(class="dark:text-gray-300")= __("Create a new performer")

  +list.mb-4
    +listItem(__("Name"))
      +input.w-full(name="name", type="text", value=old.name)

      if errors && errors.name
        span.text-red-500= errors.name.msg

    +listItem(__("Thumbnail"))
      .flex.flex-col.gap-2(x-data=`{ thumbnail: '${old.thumbnail || ''}' }`)
        +input(name="thumbnail", x-model="thumbnail")

        .max-w-3xl
          img.size-fit.cursor-zoom-in.object-cover(
            :src="thumbnail",
            alt="thumbnail",
            x-show="thumbnail"
          )

    +listItem(__("Description"))
      +textarea#description(name="description")= old.description

  +buttonGroup.ml-auto
    +buttonGroup
      +buttonInGroup#save(type="submit")
        i.text-2xl(class="icon-[material-symbols--save-outline]")
        span= __("Save")
      +buttonInGroup#cancel(@click="show = false", type="button")
        i.text-2xl(class="icon-[material-symbols--close]")
        span= __("Cancel")
