extends ../_layout.pug

block body
  .mb-2.flex.flex-wrap.items-center.justify-between
    h1.text-xl.font-bold #{ __("Performer Info") }

    button.flex.items-center.gap-1.rounded.border.px-2.py-1.font-bold.text-gray-500(
      hx-delete=`/media/${performer.id}/confirm`,
      hx-target="#modal"
    )
      i.shrink-0.text-2xl(class="icon-[material-symbols--delete-outline]")
      span #{ __("Delete") }

  p #{ performer.name }
  img(alt="thumbnail", src=performer.thumbnail)
  pre #{ performer.description }
