extends ../_layout.pug

block vars
  - var title = __("Uploader");

block append breadcrumb
  +breadcrumb({ href: "/uploaders", icon: "icon-[iconoir--upload-data-window]", name: __("Uploader") })

block body
  .mb-4.overflow-x-auto
    +table.min-w-full.text-sm
      +thead
        +th
          | #{ __("Name") }
        +th
          | #{ __("Media Count") }
        +th
          | #{ __("External Link") }
      +tbody
        each uploader in uploaders
          +tr
            +td
              a(href=`/uploaders/${uploader.id}`) #{ uploader.name }
            +td
              | #{ uploader.get('mediaCount') }
            +td
              +buttonGroup
                +buttonInGroup(
                  href=uploader.url,
                  target="_blank",
                  title=__("Open")
                )
                  i.text-2xl(class="icon-[gridicons--external]")

                +buttonInGroup(
                  title=__("Copy"),
                  x-bind="writeText",
                  x-data=`clipboard("${uploader.url}")`
                )
                  i.text-2xl(
                    :class="copying ? 'icon-[material-symbols--check]' : 'icon-[ph--copy]'"
                  )

  +paginator
