extends ../_layout.pug

block vars
  - var title = uploader.name;

block append breadcrumb
  +breadcrumb({ href: "/uploaders", icon: "icon-[iconoir--upload-data-window]", name: __("Uploader") })

block body
  h1.text-xl.font-bold(class="dark:text-gray-300") #{ uploader.name }

  p.mb-2.overflow-hidden.break-words(class="dark:text-gray-300") #{ uploader.url }

  +buttonGroup.mb-4.flex-wrap
    +buttonInGroup(
      href=uploader.url,
      target="_blank",
      title=__("Open External Link")
    )
      i.text-2xl(class="icon-[gridicons--external]")
      span.hidden(class="sm:inline") #{ __("Open External Link") }
    +buttonInGroup(
      title=__("Copy Uploader's Link"),
      x-bind="writeText",
      x-data=`clipboard("${uploader.url}")`
    )
      i.text-2xl(
        :class="copying ? 'icon-[material-symbols--check]' : 'icon-[ph--copy]'"
      )
      span.hidden(class="sm:inline") #{ __("Copy Uploader's Link") }

  .mb-4.flex.flex-col.gap-4
    each medium in media
      include ../media/_widget.pug

  +paginator
