extends ../_layout.pug

block append breadcrumb
  +breadcrumb("/uploaders", "icon-[iconoir--upload-data-window]", __("Uploader"))

block body
  h1.text-xl.font-bold(class="dark:text-gray-300") #{ uploader.name }

  p.mb-2.overflow-hidden.break-words(class="dark:text-gray-300") #{ uploader.url }

  .mb-4.flex.w-fit.flex-col.divide-y.rounded-lg.border.bg-white(
    class="sm:flex-row sm:divide-x sm:divide-y-0 rtl:flex-row-reverse dark:divide-gray-700 dark:border-gray-700 dark:bg-gray-900"
  )
    a.flex.items-center.gap-x-2.p-2.text-sm.text-gray-600.transition-colors.duration-200(
      class="hover:bg-gray-100 sm:px-4 sm:text-base dark:text-gray-300 dark:hover:bg-gray-800",
      href=uploader.url,
      target="_blank"
    )
      i.text-2xl(class="icon-[gridicons--external]")
      span #{ __("Open External Link") }
    button.flex.items-center.gap-x-2.p-2.text-sm.text-gray-600.transition-colors.duration-200(
      class="hover:bg-gray-100 sm:px-4 sm:text-base dark:text-gray-300 dark:hover:bg-gray-800",
      title=__("Copy"),
      x-bind="writeText",
      x-data=`clipboard("${uploader.url}")`
    )
      i.text-2xl(
        :class="copying ? 'icon-[material-symbols--check]' : 'icon-[ph--copy]'"
      )
      span #{ __("Copy Uploader's Link") }

  .mb-4.flex.gap-4
    each medium in media
      include ../media/_widget.pug

  != paginator({ path: "/playlists", qs: qs(), count })
