include /_mixin.pug

form.mb-4.flex.flex-wrap.justify-between.gap-2(
  action=`${basePath}/labels/add?_list`,
  hx-swap="show:none",
  hx-target="#add-label",
  hx-trigger="sort-changed from:body, input from:input changed delay:250ms"
)
  - var query = qs();

  +input(
    autofocus="",
    name="search",
    placeholder=__("Search"),
    type="search"
  )

  include /labels/_sort.pug

#add-label
  include _list.pug
