include /_mixin.pug

+input.mb-4.w-full(
  autofocus,
  hx-get=`${basePath}/labels/add?_list`,
  hx-target="#add-label",
  hx-trigger="input changed delay:500ms",
  name="search",
  placeholder=__("Search")
)

#add-label
  include _list.pug
