+table
  +thead
    +th= __("Chapter")
    +th= __("Start Time")
    +th= __("End Time")
    +th
  +tbody
    +td
      a(href=`/media/${chapter.mediumId}/chapters`)= chapter.title
    +td= dayjs.neatDuration(chapter.startTime)
    +td= dayjs.neatDuration(chapter.endTime)
    +td
      +buttonGroup
        +buttonInGroup(
          hx-get=`/chapters/${chapter.id}/play`,
          hx-swap="none",
          title=__("Play")
        )
          i.text-2xl(class="icon-[teenyicons--play-solid]")
        +buttonInGroup(
          hx-post=`/media/${medium.id}/queue`,
          hx-swap="none",
          title=__("Add to The Queue")
        )
          i.text-2xl(class="icon-[ph--stack-light]")
