#chapter-list.flex.flex-col.border-t.py-2(x-show="show")
  template(
    hx-get=`/media/${medium.id}/chapters`,
    hx-swap="outerHTML",
    hx-target="#chapter-list",
    hx-trigger="refresh-chapters from:body"
  )

  if (chapters || []).length == 0
    p.px-2.text-gray-500 #{ __("There are currently no chapters available.") }

  each chapter in chapters || []
    .flex.flex-wrap.items-center.gap-2.px-2.py-1(class="hover:bg-gray-100")
      .grow
        include ../chapters/_widget.pug

      button.text-2xl(
        class="icon-[lucide--edit]",
        hx-get=`/chapters/${chapter.id}/edit`,
        hx-target="#chapter-form-container"
      )

      button.text-2xl(
        class="icon-[material-symbols--delete-outline]",
        hx-delete=`/chapters/${chapter.id}/confirm`,
        hx-target="#modal"
      )
