include /_mixin.pug

.grow.overflow-x-auto.overflow-y-hidden
  +table.w-full
    +thead
      +th= __("Title")
      +th= __("Start Time")
      +th= __("End Time")
      +th= __("Operation")
    +tbody
      each chapter, index in chapters
        +tr(x-show=`${index < 3} || show`)
          +td= chapter.title
          +td= dayjs.neatDuration(chapter.startTime)
          +td= dayjs.neatDuration(chapter.endTime)
          +td
            +buttonGroup
              +buttonInGroup(
                hx-get=`/chapters/${chapter.id}/play`,
                hx-swap="none",
                type="button"
              )
                i.text-xl(class="icon-[teenyicons--play-solid]")
              +buttonInGroup(
                hx-post=`/chapters/${chapter.id}/queue`,
                hx-swap="none",
                type="button"
              )
                i.text-xl(class="icon-[ph--stack-light]")
              +buttonInGroup(
                hx-delete=`/chapters/${chapter.id}/confirm`,
                hx-target="#modal",
                type="button"
              )
                i.text-xl(class="icon-[material-symbols--delete-outline]")
      if chapters.length > 3
        +tr(x-show="!show")
          +td.cursor-pointer.text-xs(
            @click="show = true",
            class="hover:underline",
            colspan="4"
          )= "..." + __("And More")
if chapters.length > 3
  .shrink-0.pt-2
    i.sticky.top-20.cursor-pointer.text-xl(
      :class="show ? 'icon-[material-symbols--collapse-all]' : 'icon-[material-symbols--expand-all]'",
      @click="show = !show",
      class="sm:text-2xl"
    )
