include /_mixin.pug

.mb-2.flex.gap-2
  +input.grow(
    hx-get=`${basePath}/playlists/add?_list`,
    hx-target="#search-result",
    hx-trigger="input changed delay:500ms, load",
    name="title",
    placeholder=__("Search"),
    type="search",
    value=old.name || ""
  )

#search-result
  include _list.pug
