extends ../_layout.pug

block append body
  +buttonGroup.mb-4
    +buttonInGroup(
      hx-get=`/media/${medium.id}/labels/add`,
      hx-target="#modal",
      type="button"
    )
      i.text-xl(class="icon-[material-symbols--add]")
      span= __("Add")
    +buttonInGroup(
      hx-get=`/media/${medium.id}/labels/create`,
      hx-target="#modal",
      type="button"
    )
      i.text-2xl(class="icon-[gridicons--create]")
      span= __("Create")

  #labels(
    hx-get=`/media/${medium.id}/labels?_list`,
    hx-trigger="refresh-labels"
  )
    include _list.pug
