mixin copyIcon(copyContent)
  i(
    :class="copy ? 'icon-[material-symbols--check]' : 'icon-[ph--copy]'",
    @click=`
      copy = true;
      navigator.clipboard.writeText('${copyContent}');
      setTimeout(() => (copy = false), 1000)
    `,
    x-data="{ copy: false }"
  )

doctype html
html(lang=`${getLocale()}`)
  head
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1.0", name="viewport")
    title nodonlod
    link(href="/css/app.css", rel="stylesheet")
    script(defer, src="/js/app.js")

  body(
    :class="dark && 'dark'",
    class="dark:bg-gray-900",
    hx-boost="true",
    hx-ext="ws,alpine-morph",
    ws-connect="/",
    x-data="{ dark: $persist(true) }"
  )
    include _sidebar.pug

    .ml-16.p-2
      block body

    include player/index.pug

    include play-queues/_slide-over.pug

    #modal-container(
      @open-modal.window="show = true",
      x-data="{ show: false }"
    )
      .fixed.left-0.top-0.z-10.h-full.w-full.bg-black.bg-opacity-20(
        @click="show = false",
        x-show="show"
      )
      .fixed.z-10.rounded.bg-white.p-2(
        class="left-1/2 top-1/2 w-11/12 -translate-x-1/2 -translate-y-1/2 sm:w-2/3",
        x-show="show"
      )
        #modal

    #ws-event(x-data="wsEvent")

    //- #locales
    //-   a(href="?locale=en") en
    //-   a(href="?locale=zh-TW") zh-TW
