doctype html
html(lang=`${getLocale()}`)
  head
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1.0", name="viewport")
    title nodonlod
    link(href="/css/app.css", rel="stylesheet")
    script(defer, src="/js/app.js")

  body(hx-boost="true", hx-ext="ws,alpine-morph", ws-connect="/")
    nav#nav.fixed.left-0.top-0.z-10.flex.h-screen.flex-col.justify-between.bg-gray-300.p-2(
      @mouseenter="show = true",
      @mouseleave="show = false",
      hx-preserve,
      x-data="{ show: false }"
    )
      .flex.flex-col.gap-2
        a.flex.items-center.gap-1(href="/")
          i.text-2xl(class="icon-[material-symbols--home-outline]")
          span.mr-2(x-show="show") #{ __("Home") }
        a.flex.items-center.gap-1(href="/extractions")
          i.text-2xl(class="icon-[gridicons--create]")
          span.mr-2(x-show="show") #{ __("Create") }
        a.flex.items-center.gap-1(href="/media")
          i.text-2xl(class="icon-[mdi--play-box-outline]")
          span.mr-2(x-show="show") #{ __("Media") }
        a.flex.items-center.gap-1(href="/playlists")
          i.text-2xl(class="icon-[mage--playlist]")
          span.mr-2(x-show="show") #{ __("Playlists") }

      .flex.flex-col.gap-2
        button.flex.items-center.gap-1(
          @click="playerClosed = false; $dispatch('open-player')",
          @player-closed.window="playerClosed = true",
          x-data="{ playerClosed: false }",
          x-show="playerClosed"
        )
          i.text-2xl(class="icon-[carbon--play]")
          span.mr-2(x-show="show") #{ __("Player") }
        button.flex.items-center.gap-1(@click="$dispatch('toggle-play-queue')")
          i.text-2xl(class="icon-[heroicons--queue-list]")
          span.mr-2(x-show="show") #{ __("Play Queue") }

    .ml-10.p-2
      block body

    #player-container.fixed.bottom-4(
      :class="minimize || 'w-5/6'",
      @open-player.window="show = true",
      class="left-1/2 -translate-x-1/2",
      hx-preserve,
      x-data="{ show: true, minimize: false }",
      x-show="show"
    )
      .relative.ml-10.rounded.bg-pink-100
        #player

    #play-queue-container.fixed.right-0.top-0.h-screen.min-w-40.overflow-y-auto.bg-blue-100(
      @toggle-play-queue.window="show = !show",
      class="w-4/12 shadow-[0_0_50px_10px_rgba(0,0,0,0.25)]",
      hx-get="/play-queues",
      hx-preserve,
      hx-target="#play-queue",
      hx-trigger="load, play-queue from:body",
      x-data="{ show: false }",
      x-show="show"
    )
      #play-queue

    //- #locales
    //-   a(href="?locale=en") en
    //-   a(href="?locale=zh-TW") zh-TW
