mixin copyIcon(copyContent)
  i(
    :class="copy ? 'icon-[material-symbols--check]' : 'icon-[ph--copy]'",
    @click=`
      copy = true;
      navigator.clipboard.writeText('${copyContent}');
      setTimeout(() => (copy = false), 1000)
    `,
    x-data="{ copy: false }"
  )

mixin breadcrumb(href, icon, pageName = "")
  i.text-xl(class="icon-[mingcute--right-line]")

  a.flex.items-center.gap-2(
    class="last:text-blue-600 hover:underline last:dark:text-blue-400",
    href=href
  )
    i(class=icon)

    if pageName
      span #{ pageName }

doctype html
html(lang=`${getLocale()}`)
  head
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1.0", name="viewport")
    title nodonlod
    link(href="/css/app.css", rel="stylesheet")
    script(defer, src="/js/app.js")

  body(
    :class="dark && 'dark'",
    class="dark:bg-gray-900",
    hx-boost="true",
    hx-ext="ws,alpine-morph",
    ws-connect="/",
    x-data="{ dark: $persist(true) }"
  )
    include _sidebar.pug

    .px-2(class="sm:ml-16")
      .sticky.top-0.z-10.bg-white.py-2(class="sm:py-4 dark:bg-gray-900")
        .flex.flex-wrap.items-center.gap-2.text-gray-600(class="dark:text-gray-200")
          button.text-2xl(
            @click="$dispatch('open-slide-over')",
            class="icon-[lucide--menu] sm:hidden",
            hx-get="/sidebar",
            hx-target="#slide-over-container"
          )

          block breadcrumb
            a.flex.items-center.gap-2(class="hover:underline", href="/")
              i(class="icon-[heroicons--home]")
              span #{ __("Home") }

      block body

    include player/index.pug

    include _slide-over.pug

    #modal-container(
      @open-modal.window="show = true",
      x-data="{ show: false }"
    )
      .fixed.left-0.top-0.z-10.h-full.w-full.bg-black.bg-opacity-20(
        @click="show = false",
        x-show="show"
      )
      .fixed.z-10.rounded.bg-white.p-2(
        class="left-1/2 top-1/2 w-11/12 -translate-x-1/2 -translate-y-1/2 sm:w-2/3",
        x-show="show"
      )
        #modal

    #ws-event(x-data="wsEvent")

    //- #locales
    //-   a(href="?locale=en") en
    //-   a(href="?locale=zh-TW") zh-TW
