include _pagination.pug

mixin breadcrumb({ href, icon, name })
  i.text-xl(class="icon-[mingcute--right-line]")

  a.flex.items-center.gap-2(
    class="last:text-blue-600 hover:underline last:dark:text-blue-400",
    href=href
  )
    i.text-xl(class=icon)
    span.hidden(class="sm:inline-block") #{ name }

mixin buttonGroup
  .flex.w-fit.divide-x.rounded-lg.border.bg-white(
    class="rtl:flex-row-reverse dark:divide-gray-700 dark:border-gray-700 dark:bg-gray-900"
  )&attributes(attributes)
    block

mixin verticalButtonGroup
  .flex.w-fit.flex-col.divide-y.rounded-lg.border.bg-white(
    class="dark:divide-gray-700 dark:border-gray-700 dark:bg-gray-900"
  )&attributes(attributes)
    block

mixin buttonInGroup
  if attributes.href
    a.flex.shrink-0.items-center.gap-x-2.p-2.text-sm.text-gray-600.transition-colors.duration-200(
      class="hover:bg-gray-100 sm:px-4 sm:py-2 sm:text-base dark:text-gray-300 dark:hover:bg-gray-800"
    )&attributes(attributes)
      block
  else
    button.flex.shrink-0.items-center.gap-x-2.p-2.text-sm.text-gray-600.transition-colors.duration-200(
      class="hover:bg-gray-100 disabled:cursor-not-allowed sm:px-4 sm:py-2 sm:text-base dark:text-gray-300 dark:hover:bg-gray-800"
    )&attributes(attributes)
      block

mixin button
  if attributes.href
    a.flex.shrink-0.items-center.gap-x-2.rounded-lg.border.bg-white.p-2.text-sm.text-gray-600.transition-colors.duration-200(
      class="hover:bg-gray-100 sm:px-4 sm:py-2 sm:text-base dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 dark:hover:bg-gray-800"
    )&attributes(attributes)
      block
  else
    button.flex.shrink-0.items-center.gap-x-2.rounded-lg.border.bg-white.p-2.text-sm.text-gray-600.transition-colors.duration-200(
      class="hover:bg-gray-100 disabled:cursor-not-allowed sm:px-4 sm:py-2 sm:text-base dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 dark:hover:bg-gray-800"
    )&attributes(attributes)
      block

mixin list
  .flow-root.rounded-lg.border.border-gray-100.py-3.shadow-sm(
    class="dark:border-gray-700"
  )&attributes(attributes)
    dl.-my-3.divide-y.divide-gray-100.text-sm(class="dark:divide-gray-700")
      block

mixin listItem(title="")
  .grid.grid-cols-1.gap-2.p-3(class="sm:grid-cols-4 sm:gap-4")&attributes(attributes)
    dt.font-medium.text-gray-900(class="dark:text-white") #{ title }
    dd.text-gray-700(class="sm:col-span-3 dark:text-gray-200")
      block

mixin input
  input.rounded-lg.border.border-gray-200.bg-white.px-3.py-2.text-gray-700(
    class="placeholder-gray-400/70 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300"
  )&attributes(attributes)

mixin table
  table.divide-y-2.divide-gray-200.bg-white(
    class="dark:divide-gray-700 dark:bg-gray-900"
  )&attributes(attributes)
    block

mixin thead
  thead(class="ltr:text-left rtl:text-right")
    tr.text-left
      block

mixin th
  th.whitespace-nowrap.px-4.py-2.text-gray-900(class="dark:text-white")&attributes(attributes)
    block

mixin tbody
  tbody.divide-y.divide-gray-200(class="dark:divide-gray-700")&attributes(attributes)
    block

mixin tr
  tr(class="odd:bg-gray-50 dark:odd:bg-gray-800/50")&attributes(attributes)
    block

mixin td
  td.whitespace-nowrap.px-4.py-2.text-gray-900(class="dark:text-white")&attributes(attributes)
    block

mixin tab
  .flex.overflow-x-auto.overflow-y-hidden.whitespace-nowrap.border-b.border-gray-200(
    class="dark:border-gray-700"
  )&attributes(attributes)
    block

mixin tabItem(activate = false)
  - var inactivated = "text-gray-700 dark:text-white hover:border-gray-400";
  - var activated = "text-blue-600 dark:text-blue-300 border-blue-500 dark:border-blue-400";
  a.-px-1.-mb-px.inline-flex.h-10.items-center.gap-2.whitespace-nowrap.border-b-2.border-transparent.bg-transparent.px-2.py-2.text-center(
    class="focus:outline-none sm:px-4",
    class=activate ? activated : inactivated
  )&attributes(attributes)
    block

mixin textarea
  textarea.min-h-20.w-full.overflow-y-auto.rounded-lg.border.border-gray-200.bg-white.p-2.text-gray-700(
    class="placeholder-gray-400/70 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300"
  )&attributes(attributes)
    block

mixin error(key)
  if errors && errors[key]
    span.text-red-500= errors[key].msg

mixin select
  select.rounded-lg.border.border-gray-200.bg-white.px-3.py-2.text-gray-700(
    class="placeholder-gray-400/70 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300"
  )&attributes(attributes)
    block

mixin inputThumbnail(thumbnail = "")
  .flex.flex-col.gap-2(
    x-data=`{ thumbnail: "${ old.thumbnail || thumbnail || "" }" }`
  )&attributes(attributes)
    +input.w-full(name="thumbnail", x-model="thumbnail")
    .max-w-3xl
      img.size-fit.object-cover(
        :src="thumbnail",
        alt="thumbnail",
        x-show="thumbnail"
      )
