#player(x-data="currentTime")
  .flex.flex-col.gap-2.p-2(x-show="!minimize")
    p.overflow-hidden.text-ellipsis.whitespace-nowrap(title=title)
      if chapter
        span.mr-1.rounded-lg.bg-gray-300.p-1 #{ chapter }
      span #{ title }

    - var startAt = startTime ? dayjs.duration(startTime, "seconds").format("HH:mm:ss") : "";
    - var endAt = endTime ? dayjs.duration(endTime, "seconds").format("HH:mm:ss") : "";
    input.w-full(max=endAt, min=startAt, type="range")

    .flex.items-center.gap-2
      i.text-2xl(class="icon-[line-md--loading-loop]")

      button.text-lg(class="icon-[material-symbols--stop]", hx-put="/player/stop")

      span.flex.text-sm(class="gap-0.5")
        span(x-text="dayjs.neatDuration(currentTime)")
        span /
        span#duration

  .flex.gap-2.p-1(x-show="minimize")
    i.text-2xl(class="icon-[line-md--loading-loop]")
    span.cursor-pointer(
      @click="minimize = false",
      title=title,
      x-text="dayjs.neatDuration(currentTime)"
    )

  .absolute.-right-2.-top-2.flex.gap-1
    button.flex.rounded-full.bg-pink-400.text-white(
      @click="minimize = !minimize",
      x-show="!minimize"
    )
      i(class="icon-[fluent--minimize-12-regular]")
    button.flex.rounded-full.bg-pink-400.text-white(
      @click="show = false; minimize = false; $dispatch('player-closed')"
    )
      i(class="icon-[material-symbols--close]")
