#player(x-data="currentTime")
  .flex.flex-col.gap-2.p-2(x-show="!minimize")
    p.overflow-hidden.text-ellipsis.whitespace-nowrap.py-1(title=title)
      if chapter
        span.mr-1.rounded-lg.bg-blue-200.px-2 #{ chapter || 'Chapter' }
      span #{ title }

    #progress-bar.group.relative.flex.h-2(
      x-data=`{ duration: 100, percent: 0, startTime: ${startTime}, endTime: ${endTime} }`,
      x-effect="percent = Math.min((currentTime / duration) * 100, 100)"
    )
      #played-track.pointer-events-none.absolute.w-full.rounded.bg-pink-400(
        :style="{ width: percent + '%' }",
        class="top-1/2 h-1.5 -translate-y-1/2 group-hover:h-2"
      )
      #chapter-start.pointer-events-none.absolute.h-4.border-r-2.border-blue-400(
        :style="{ width: Math.min((startTime / duration) * 100, 100) + '%' }",
        class="top-1/2 -translate-y-1/2",
        x-show="!isNaN(startTime)"
      )
      #chapter-end.pointer-events-none.absolute.h-4.border-r-2.border-blue-400(
        :style="{ width: Math.min((endTime / duration) * 100, 100) + '%' }",
        class="top-1/2 -translate-y-1/2",
        x-show="!isNaN(endTime)"
      )
      input.w-full.cursor-pointer.appearance-none.bg-transparent(
        :value="!seek && currentTime",
        @mousedown="seek = true",
        @mouseup.debounce="seek = false",
        class="[&::-webkit-slider-runnable-track]:h-1.5 [&::-webkit-slider-runnable-track]:rounded [&::-webkit-slider-runnable-track]:bg-gray-300 [&::-webkit-slider-runnable-track]:hover:h-2 [&::-webkit-slider-thumb]:h-4 [&::-webkit-slider-thumb]:w-4 [&::-webkit-slider-thumb]:-translate-y-1/4 [&::-webkit-slider-thumb]:scale-0 [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:rounded-full [&::-webkit-slider-thumb]:bg-pink-500 [&::-webkit-slider-thumb]:transition-all [&::-webkit-slider-thumb]:hover:scale-100",
        hx-include="[name='seek']",
        hx-put="/player/seek",
        max=endAt,
        min="0",
        name="seek",
        step="0.1",
        type="range",
        x-data="{ seek: false }"
      )

    .flex.items-center.gap-2
      i.text-2xl(class="icon-[line-md--loading-loop]")

      button.text-lg(class="icon-[material-symbols--stop]", hx-put="/player/stop")

      span.flex.text-sm(class="gap-0.5")
        span(x-text="dayjs.neatDuration(currentTime)")
        span /
        span#duration

  .flex.gap-2.p-1(x-show="minimize")
    i.text-2xl(class="icon-[line-md--loading-loop]")
    span.cursor-pointer(
      @click="minimize = false",
      title=title,
      x-text="dayjs.neatDuration(currentTime)"
    )

  .absolute.-right-2.-top-2.flex.gap-1
    button.flex.rounded-full.bg-pink-400.text-white(
      @click="minimize = !minimize",
      x-show="!minimize"
    )
      i(class="icon-[fluent--minimize-12-regular]")
    button.flex.rounded-full.bg-pink-400.text-white(
      @click="show = false; minimize = false; $dispatch('player-closed')"
    )
      i(class="icon-[material-symbols--close]")
