mixin navitem({ icon, label })
  .group.flex.gap-2.rounded-lg.transition-colors.duration-200(
    @click="show = false",
    @mouseover="$refs.label.style.top = $el.getBoundingClientRect().top + 'px'",
    class="focus:outline-nones p-1.5 hover:bg-gray-100 dark:hover:bg-gray-800",
    x-data=""
  )
    i.block.text-2xl(class=icon || "icon-[ph--placeholder]")

    span(class="sm:hidden") #{ label }

    span.invisible.fixed.left-20.hidden.translate-y-1.rounded.bg-gray-900.px-2.text-xs.font-medium.text-white(
      class="py-1.5 group-hover:visible sm:block dark:bg-gray-200 dark:text-gray-900",
      x-ref="label"
    ) #{ label || "LABEL" }

mixin navlink({ href, icon, label })
  a(href=href || "")
    +navitem({ icon, label })

aside.fixed.z-10.h-screen.w-full.flex-col.overflow-y-auto.border-r.bg-white.px-4.py-6.text-gray-700(
  class="sm:block sm:w-16 sm:items-center sm:px-0 rtl:border-l rtl:border-r-0 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-200",
  class=fromBackend ? "flex" : "hidden sm:flex"
)
  nav.flex.flex-1.flex-col.gap-4
    button(class="sm:hidden")
      +navitem({ icon: "icon-[iconamoon--close-light]", label: __("Close") })

    +navlink({ href: "/", icon: "icon-[heroicons--home]", label: __("Home") })
    +navlink({ href: "/media", icon: "icon-[ph--play]", label: __("Media") })
    +navlink({ href: "/playlists", icon: "icon-[mage--playlist]", label: __("Playlist") })
    +navlink({ href: "/performers", icon: "icon-[fluent--people-team-20-regular]", label: __("Performer") })
    +navlink({ href: "/labels", icon: "icon-[mynaui--label]", label: __("Label") })
    +navlink({ href: "/uploaders", icon: "icon-[iconoir--upload-data-window]", label: __("Uploader") })

    <hr class="border-gray-200 dark:border-gray-600" />

    button.relative(
      @click="$dispatch('open-slide-over')",
      hx-get="/play-queues",
      hx-target="#slide-over-container"
    )
      +navitem({ icon: "icon-[ph--stack-light]", label: __("Play Queue") })

    button(@click="$dispatch('open-player')")
      +navitem({ icon: "icon-[fluent--headphones-sound-wave-48-regular]", label: __("Open Player") })

  .flex.flex-col.gap-4.pt-4
    button(@click="dark = !dark")
      div(x-show="!dark")
        +navitem({ icon: "icon-[material-symbols-light--dark-mode-outline]", label: __("Dark Mode") })
      div(x-show="dark")
        +navitem({ icon: "icon-[material-symbols-light--light-mode-outline]", label: __("Light Mode") })
