#slide-over.relative.z-10.h-auto.w-auto(
  @open-slide-over.window="show = true",
  hx-preserve,
  x-data="{ show: false }"
)
  .relative.z-10(@keydown.window.escape="show = false", x-show="show")
    .fixed.inset-0.bg-black.bg-opacity-10(
      @click="show = false",
      class="dark:bg-white dark:bg-opacity-20",
      x-show="show",
      x-transition.opacity.duration.600ms=""
    )

    .fixed.inset-0.overflow-hidden
      .absolute.inset-0.overflow-hidden
        .fixed.inset-y-0.right-0.flex.max-w-full
          .w-screen.max-w-md(
            @click.away="show = false",
            x-show="show",
            x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700",
            x-transition:enter-end="translate-x-0",
            x-transition:enter-start="translate-x-full",
            x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700",
            x-transition:leave-end="translate-x-full",
            x-transition:leave-start="translate-x-0"
          )
            #slide-over-container.flex.h-full.flex-col.overflow-y-auto.border-l.bg-white.py-5.shadow-lg(
              class="border-neutral-100/70 dark:border-neutral-900/70 dark:bg-gray-900"
            )
