include /_mixin.pug

+table
  each medium in media
    +tr
      +td
        +verticalButtonGroup
          +buttonInGroup(
            hx-get=`/labels/${label.id}/media/${medium.id}/play`,
            hx-swap="none",
            title=__("Play media from this label")
          )
            i.text-2xl(class="icon-[teenyicons--play-solid]")
          +buttonInGroup(
            hx-delete=`/labels/${label.id}/media/${medium.id}/confirm`,
            hx-target="#modal"
          )
            i.text-2xl(class="icon-[iconamoon--close-light]")
      +td
        include /media/_widget.pug
