extends ../_layout.pug

block append body
  .flex.flex-col.gap-4(
    class="sm:gap-2",
    x-data=`{
      id: '',
      order: 0,
      handle: () => {
        $nextTick(() => { htmx.process($refs.sort);
        htmx.trigger($refs.sort, "sorted") });
      }
    }`,
    x-sort="id = $item; order = $position; handle()"
  )
    input(
      :hx-put="`/playlist-items/${id}`",
      hx-include="this",
      hx-trigger="sorted",
      name="order",
      type="hidden",
      x-model="order",
      x-ref="sort"
    )

    each item in items
      .flex.flex-col.gap-1(
        class="sm:flex-row sm:items-center",
        x-sort:item=`"${item.id}"`
      )
        .flex.items-center.gap-2(class="sm:flex-col")
          i.cursor-pointer.text-2xl(class="icon-[mingcute--dots-fill]", x-sort:handle)
          input.w-10.rounded.border.p-1.text-center(
            @keyup.enter=`id = "${item.id}"; order = $el.value; handle()`,
            type="text",
            value=item.order
          )
        .flex.grow.flex-col.gap-1
          - var medium = item.medium;
          - var chapter = item.chapter;
          if (chapter)
            include /chapters/_widget.pug
            .flex
              .relative.w-6.shrink-0
                .absolute.right-0.top-0.rounded-bl.border-b.border-l.border-gray-300(
                  class="h-1/2 w-1/2"
                )
              include /media/_widget.pug
          else
            include /media/_widget.pug
