#play-queues
  ol.list-decimal.py-1.pl-10.text-gray-800(
    class="dark:text-white",
    x-data="{ id: 0, order: 0 }",
    x-sort=`
      id = $item; order = $position;
      $nextTick(() => { htmx.process($refs.sort); htmx.trigger($refs.sort, 'sorted') });
    `
  )
    input(
      :hx-put="`/play-queues/${id}`",
      hx-include="this",
      hx-trigger="sorted",
      name="order",
      type="hidden",
      x-model="order",
      x-ref="sort"
    )

    each item in items
      li(class="hover:bg-gray-100 dark:hover:bg-gray-800", x-sort:item=item.id)
        .flex.items-center.gap-2.py-1.pr-2
          button.flex.items-center.gap-1.overflow-hidden.text-ellipsis.text-nowrap(
            hx-get=item.chapter ? `/chapters/${item.chapter.id}/play` : `/media/${item.medium.id}/play`,
            hx-swap="none",
            title=item.medium.title
          )
            if item.chapter
              span.inline-flex.items-center.rounded-md.border.border-gray-200.bg-white.px-2.py-1.text-xs.font-medium.text-gray-800.shadow-sm(
                class="dark:border-neutral-700 dark:bg-neutral-900 dark:text-white"
              ) #{ item.chapter.title }

            span #{ item.medium.title }

          .ml-auto.flex.shrink-0.items-center.gap-1
            i.cursor-grab.text-2xl(
              class="icon-[ph--dots-six-vertical]",
              title=__("Sort"),
              x-sort:handle
            )

            a.text-2xl(
              class="icon-[lets-icons--view-light]",
              href=`/media/${item.medium.id}`,
              hx-target="body",
              title=__("View")
            )

            button.text-3xl(
              class="icon-[material-symbols-light--delete-sweep-outline]",
              hx-delete=`/play-queues/${item.id}`,
              hx-swap="delete",
              hx-target="closest li",
              title=__("Remove")
            )

- var playQueueCount = items.length;
include _count.pug
