include /_mixin.pug

+table.w-full
  +tbody.w-full(
    x-data=`{
        id: '',
        order: 0,
        handle() {
          $nextTick(() => {
            htmx.process($refs.sort);
            htmx.trigger($refs.sort, "sorted")
          });
        },
      }`,
    x-sort=`
        id = $item;
        order = $position;
        handle();
      `
  )
    - var sortRoute = "`/playlists/" + playlist.id + "/playlistables/${id}`";
    input(
      :hx-put=sortRoute,
      hx-include="this",
      hx-trigger="sorted",
      name="order",
      type="hidden",
      x-model="order",
      x-ref="sort"
    )
    each playlistable in playlistables
      +tr.w-full(x-sort:item=`"${playlistable.id}"`)
        +td.flex.flex-col.gap-2
          i.cursor-pointer.text-2xl(class="icon-[mingcute--dots-fill]", x-sort:handle)
          +input.w-20(
            @keyup.enter=`id = "${playlistable.id}"; order = $el.value; handle()`,
            type="number",
            value=playlistable.order
          )
          +verticalButtonGroup
            +buttonInGroup(
              hx-get=`/playlists/${playlist.id}/playlistables/${playlistable.id}/play`,
              hx-swap="none",
              title=__("Play this list starting from this item")
            )
              i.text-2xl(class="icon-[teenyicons--play-solid]")
            +buttonInGroup(
              hx-delete=`/playlists/${playlist.id}/playlistables/${playlistable.id}/confirm`,
              hx-target="#modal"
            )
              i.text-2xl(class="icon-[material-symbols--delete-outline]")

        +td
          - var medium = playlistable.medium;
          - var chapter = playlistable.chapter;

          .mb-2
            include /media/_widget.pug

          if chapter
            include /media/chapters/_widget.pug
