label.text-xs.text-gray-500(class="dark:text-gray-300", for="input-url") #{ __("Create media by extracting information from a URL") }

form.mb-4.flex.flex-col.gap-2(
  @submit="$nextTick(() => ($refs.url.value = ''))",
  action="/extractions",
  hx-swap="outerHTML show:none",
  hx-target="#extractions",
  method="post",
  x-data="{ show: false }"
)
  .flex.flex-wrap.gap-2
    include _input-url.pug

    +buttonGroup
      +buttonInGroup(type="submit")
        i.text-2xl(class="icon-[system-uicons--box-open]")
        span #{ __("Extract") }
      +buttonInGroup(
        hx-get="/electron/file",
        hx-swap="outerHTML",
        hx-target="#input-url",
        title=__("Select a file as a extraction target"),
        type="button"
      )
        i.text-2xl(class="icon-[ph--file-audio]")
      +buttonInGroup(
        hx-get="/electron/directory",
        hx-swap="outerHTML",
        hx-target="#input-url",
        title=__("Select a directory as a playlist"),
        type="button"
      )
        i.text-2xl(class="icon-[clarity--directory-line]")

  .flex.flex-col.gap-2.text-sm.text-gray-600(class="dark:text-gray-300")
    label.flex.cursor-pointer.items-center.gap-2(for="isConvertible")
      input#isConvertible.size-4.rounded.border-gray-300(
        checked,
        class="dark:border-gray-600 dark:bg-gray-800 dark:ring-offset-gray-900",
        name="isConvertible",
        type="checkbox"
      )
      strong #{ __("Automatically convert extracted information into playable media") }

    .flex.flex-col.gap-2(x-data="{ show: false }")
      label.flex.cursor-pointer.flex-wrap.items-center.gap-2(
        for="isContinuous"
      )
        input#isContinuous.size-4.rounded.border-gray-300(
          class="dark:border-gray-600 dark:bg-gray-800 dark:ring-offset-gray-900",
          name="isContinuous",
          type="checkbox",
          x-model="show"
        )
        strong #{ __("Extract whole playlist") }
        p.text-red-600(class="dark:text-red-500", x-show="show") #{ __("Be aware of very long playlists or channels.") }

      label.flex.items-center.gap-2(for="page", x-show="!show") #{ __("Extract the given playlist from page") }:
        +input#page.h-8.w-20(name="page", type="number", value="1")
        small #{ __("10 items per page") }
