input#input-url.grow.rounded-lg.border.border-gray-200.bg-white.px-5.text-gray-700(
  class="py-2.5 placeholder-gray-400/70 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300",
  name="url",
  required,
  type="url",
  value=url || "",
  x-ref="url"
)
