#extractions.flex.flex-col.gap-1
  #refresh-extractions(
    hx-get=`/extractions?${qs().set("_list", true).toString()}`,
    hx-swap="morph",
    hx-target="#extractions",
    hx-trigger="every 3s"
  )

  each extraction, index in extractions || []
    .group.flex.items-center.rounded.border(
      :class="show || 'pointer-events-none'",
      class="hover:bg-gray-100",
      x-bind="transition",
      x-data=`{
        show: true,
        transition: {
          ["x-transition:leave"]: "transition duration-300",
          ["x-transition:leave-end"]: "translate-x-1/2 opacity-0",
        }
      }`,
      x-show="show"
    )
      a.flex.grow.flex-wrap.items-center.justify-between.gap-1.overflow-hidden.p-2(
        href=`/extractions/${extraction.id}`
      )
        p
          if extraction.isProcessing
            span.mr-1.rounded.border.border-yellow-500.px-1.text-yellow-500 #{ __("Processing") }

          if extraction.error
            span.mr-1.rounded.border.border-red-500.px-1.text-red-500 #{ __("Error") }
          else if extraction.content && extraction.content._type == "playlist"
            span.mr-1.rounded.border.border-blue-400.px-1.text-blue-500 #{ __("Playlist") }

          span #{ extraction.url }

        if extraction.page > 1
          span.text-nowrap.rounded.border.border-gray-300.bg-gray-100.px-1.text-sm #{ __("Page") }: #{ extraction.page }

      button.m-2.hidden.shrink-0.text-xl(
        @click="show = false",
        class="icon-[material-symbols--delete-outline] group-hover:block",
        hx-delete=`/extractions/${extraction.id}?${qs().set("_list", true).toString()}`,
        hx-swap="outerHTML show:none swap:200ms",
        hx-target="#extractions"
      )

  .flex.flex-wrap.justify-between.gap-2
    != paginator({ path: "/extractions", qs: qs().omit("_list"), count })

    button.rounded.border.border-red-200.bg-red-100.px-2.py-1(
      @click=`$dispatch('confirm', {
        listener: "delete-all-extractions",
        message: '${__("Are you sure you want to delete all extractions?")}',
      })`,
      @delete-all-extractions.window="if ($event.detail) htmx.trigger($el, 'confirmed')",
      hx-delete="/extractions",
      hx-trigger="confirmed",
      x-data=""
    ) #{ __("Delete all") }
