#extractions.flex.flex-col.gap-2
  #refresh-extractions(
    hx-get=`/extractions?${qs().set("_list", true).toString()}`,
    hx-swap="outerHTML",
    hx-target="#extractions",
    hx-trigger="every 3s, refresh-extractions from:body"
  )

  each extraction, index in extractions || []
    .relative.flex.gap-1.p-2(
      :class="show || 'pointer-events-none'",
      class={ "bg-gray-100": index % 2 },
      x-bind="transition",
      x-data=`{
        show: true,
        transition: {
          ["x-transition:leave"]: "transition duration-300",
          ["x-transition:leave-end"]: "translate-x-1/2 opacity-0",
        }
      }`,
      x-show="show"
    )
      .overflow-hidden
        include _widget.pug

      button.ml-auto.shrink-0.text-2xl(
        @click="show = false",
        class="icon-[material-symbols--delete-outline]",
        hx-delete=`/extractions/${extraction.id}?_list`,
        hx-swap="delete",
        hx-target="closest div"
      )

  .flex.flex-wrap.justify-between.gap-2
    != paginator({ path: "/extractions", qs: qs().omit("_list"), count })

    button.flex.items-center.gap-1.rounded.border.px-2.py-1(
      hx-delete="/extractions/confirm",
      hx-target="#modal"
    )
      i.shrink-0.text-2xl(class="icon-[material-symbols--delete-outline]")
      span #{ __("Delete all") }
