form.mb-4(
  action=`/extractions/${extraction.id}/convert`,
  hx-swap="outerHTML show:none",
  hx-target="find [type='submit']",
  method="post"
)
  input(name="resourceId", type="hidden", value=rawPlaylist.id)

  .mb-2.flex.items-center.gap-2
    +playlistBadget
    p.text-gray-900(class="dark:text-gray-200") #{ rawPlaylist.webpage_url }

  +list.mb-2
    +listItem(__("Title"))
      +input.w-full(name="title", required, value=rawPlaylist.title || "")

    +listItem(__("Description"))
      +textarea(name="description", rows="5") #{ rawPlaylist.description }

    +listItem(__("Thumbnail"))
      .flex.flex-col.gap-2(
        @gallery-closed.window="if ($event.detail.receiverId == receiverId) thumbnail = $event.detail.image",
        x-data=`{
          thumbnails: ${JSON.stringify((rawPlaylist.thumbnails || []).map(payload => payload.url))},
          thumbnail: "${rawPlaylist.thumbnail || ''}",
          receiverId: Math.random() * 1000
        }`
      )
        +input(name="thumbnail", x-model="thumbnail")

        .max-w-3xl
          img.size-fit.cursor-zoom-in.object-cover(
            :src="thumbnail",
            @click="$dispatch('open-gallery', { receiverId, images: thumbnails, image: thumbnail })",
            alt="thumbnail",
            x-show="thumbnail"
          )

  +buttonGroup.ml-auto
    +buttonInGroup(type="submit")
      i.text-2xl(class="icon-[material-symbols--save-outline]")
      span #{ __("Save") }
