extends /_layout.pug

block append breadcrumb
  +breadcrumb({ href: '/media', icon:'icon-[ph--play]', name: __("Media") })
  +breadcrumb({ href: '/extractions/create', icon:'icon-[gridicons--create]', name: __("Create") })

block body
  include _form.pug

  hr.mb-2

  h1.mb-2.text-2xl.text-gray-700(class="dark:text-gray-200") #{ __("History") }

  +buttonGroup.mb-4
    +buttonInGroup(hx-delete="/extractions/confirm", hx-target="#modal")
      i.text-2xl(class="icon-[material-symbols--delete-outline]")
      span #{ __("Delete All") }

  #load-extractions(
    hx-get="/extractions",
    hx-swap="outerHTML",
    hx-target="#extractions",
    hx-trigger="load"
  )

  include _list.pug
