extends ../_layout.pug

include _badge.pug

mixin raw-info(rawInfo)
  if rawInfo._type === 'playlist'
    - var rawPlaylist = rawInfo;
    include _raw-playlist.pug

    if rawPlaylist.entries
      each entry, index in rawPlaylist.entries
        +raw-info(entry)
  else
    - var rawMedium = rawInfo;
    include _raw-medium.pug

block append breadcrumb
  +breadcrumb({ href: '/media', icon: "icon-[ph--play]", name: __("Media") })
  +breadcrumb({ href: '/extractions', icon: "icon-[gridicons--create]", name: __("Create") })

block body
  +buttonGroup.mb-4
    +buttonInGroup(hx-delete=`/extractions/${extraction.id}`)
      i.text-2xl(class="icon-[material-symbols--delete-outline]")
      span #{ __("Delete") }

  if !extraction.content && !extraction.error
    #refresh-extraction(
      hx-get=`/extractions/${extraction.id}`,
      hx-target="body",
      hx-trigger="every 3s"
    )

  if extraction.content
    +raw-info(extraction.content)
  else
    .mb-4.flex.items-center.gap-2
      +extractionBadget(extraction)
      p.text-gray-900(class="dark:text-gray-200") #{ extraction.url }

    if extraction.error
      span.inline-flex.items-center.rounded-full.bg-red-100.px-3.text-xs.font-medium.text-red-800(
        class="gap-x-1.5 py-1.5 dark:bg-red-800/30 dark:text-red-500"
      ) #{ extraction.error }
