extends ../_layout.pug

mixin raw-info(rawInfo)
  if rawInfo._type === 'playlist'
    .flex.flex-col.gap-4.border-l-4.border-blue-400.p-2.pr-0(
      x-data="{ show: false }"
    )
      - var rawPlaylist = rawInfo;
      include _raw-playlist.pug
      button.m-auto.text-2xl.text-gray-600(
        :class="show ? 'icon-[mingcute--up-fill]' : 'icon-[mingcute--down-fill]'",
        @click="show = !show"
      )
      div(x-show="show")
        if rawPlaylist.entries
          each entry in rawPlaylist.entries
            +raw-info(entry)
  else
    - var rawMedium = rawInfo;
    include _raw-medium.pug

block body
  .mb-2.flex.flex-wrap.items-center.justify-between
    h1.text-xl #{ __("Extraction") }
    button.flex.items-center.gap-1.rounded.border.px-2.py-1.font-bold.text-gray-500(
      hx-delete=`/extractions/${extraction.id}`
    )
      i.shrink-0.text-2xl(class="icon-[material-symbols--delete-outline]")
      span #{ __("Delete") }

  .mb-2
    include _widget.pug

  if extraction.error
    p.rounded.bg-red-50.p-1.text-red-600 #{ extraction.error }

  if extraction.content
    +raw-info(extraction.content)
