extends ../_layout.pug

mixin raw-info(rawInfo)
  if rawInfo._type === 'playlist'
    - var rawPlaylist = rawInfo;
    include _raw-playlist.pug
    if rawPlaylist.entries
      each entry in rawPlaylist.entries
        +raw-info(entry)
  else
    - var rawMedium = rawInfo;
    include _raw-medium.pug

block body
  h1.w-fit.bg-green-200.px-2.text-lg #{ __("Extraction") }

  .mb-2.flex.flex-wrap.items-center.justify-between.gap-2.py-2
    h3.break-all.font-bold #{ extraction.url }
    button.flex-shrink-0.text-2xl(
      class="icon-[material-symbols--delete-outline]",
      hx-delete=`/extractions/${extraction.id}`
    )

  if extraction.error
    p.rounded.bg-red-50.p-1.text-red-600 #{ extraction.error }

  if extraction.content
    +raw-info(extraction.content)
