include /_mixin.pug

.mb-2.flex.gap-2
  +input.grow(
    hx-get=`/media/${medium.id}/performers/search`,
    hx-target="#search-result",
    hx-trigger="input changed delay:500ms, load",
    name="name",
    placeholder=__("Search"),
    type="search",
    value=old.name || ""
  )

  +button(
    hx-include="[name='name']",
    hx-post=`/media/${medium.id}/performers`,
    hx-target="#modal"
  )
    i.text-xl(class="icon-[gridicons--create]")
    span= __("Create")

+error('name')

#search-result
