include /_mixin.pug

each performer in performers
  +buttonGroup
    +buttonInGroup(href=`/performers/${performer.id}`)= performer.name

    +buttonInGroup(
      hx-delete=`/media/${medium.id}/performers/${performer.id}`,
      hx-swap="none",
      title=__("Remove Performer")
    )
      i.text-xl(class="icon-[iconamoon--close-light]")
