include /_mixin.pug

- var query = qs();

+button(href=`/media/${previous.id}?${query.toString()}`, type="button")= __("Previous")

form.flex.gap-2(
  action=`/media/${medium.id}/adjacent`,
  hx-target="#adjacent",
  hx-trigger="sort-changed from:body"
)
  include _sort.pug

+button(href=`/media/${next.id}?${query.toString()}`, type="button")= __("Next")
