include /_mixin.pug

+list.mb-4
  +listItem(__("Title"))
    +input.w-full(
      @input="$dispatch('medium-changed')",
      name="title",
      value=medium.title
    )
    if errors && errors.title
      span.text-red-500= errors.title.msg

  +listItem(__("Performer"))
    each performer in performers
      a.rounded.border.border-gray-500.bg-gray-100.px-1.text-sm(
        href=`/performers/${performer.id}`
      ) #{ performer.name }

  +listItem(__("URL"))
    +input.w-full(
      @input="$dispatch('medium-changed')",
      name="url",
      value=medium.url
    )
    if errors && errors.url
      span.text-red-500= errors.url.msg

  +listItem(__("Thumbnail"))
    .flex.flex-col.gap-2(
      @input="$dispatch('medium-changed')",
      x-data=`{ thumbnail: '${medium.thumbnail || ''}' }`
    )
      +input.w-full(name="thumbnail", x-model="thumbnail")
      .max-w-3xl
        img.size-fit.object-cover(
          :src="thumbnail",
          alt="thumbnail",
          x-show="thumbnail"
        )
  +listItem(__("Duration"))
    span= dayjs.neatDuration(medium.duration)

  +listItem(__("Description"))
    textarea.min-h-20.w-full.overflow-y-auto.rounded-lg.border.border-gray-200.bg-white.p-2.text-gray-700(
      @input="$dispatch('medium-changed')",
      class="placeholder-gray-400/70 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300",
      name="description",
      rows="5"
    ) #{ medium.description }
  if uploader
    +listItem(__("Uploader"))
      +buttonGroup
        +buttonInGroup(href=`/uploaders/${uploader.id}`)= uploader.name
        +buttonInGroup(
          href=uploader.url,
          target="_blank",
          title=__("Open External Link"),
          type="button"
        )
          i.text-xl(class="icon-[gridicons--external]")
        +buttonInGroup(
          title=__("Copy Uploader's Link"),
          type="button",
          x-bind="writeText",
          x-data=`clipboard("${uploader.url}")`
        )
          i.text-xl(
            :class="copying ? 'icon-[material-symbols--check]' : 'icon-[ph--copy]'"
          )
  if medium.uploadDate
    +listItem(__("Upload Date"))
      span= dayjs(medium.uploadDate).format("YYYY-MM-DD")
  +listItem(__("Created At"))
    span= dayjs(medium.createdAt).format("YYYY-MM-DD HH:mm:ss")
  +listItem(__("Updated At"))
    span= dayjs(medium.updatedAt).format("YYYY-MM-DD HH:mm:ss")
