include /_mixin.pug

+list.mb-4
  +listItem(__("Title"))
    - var title = "title" in old ? old.title : medium.title;
    +input.w-full(
      @input="$dispatch('data-changed')",
      name="title",
      value=title
    )
    +error("title")

  +listItem(__("Performer"))
    .flex.flex-col.gap-2
      +buttonGroup
        +buttonInGroup(
          hx-get=`/media/${medium.id}/performers/add`,
          hx-target="#modal",
          type="button"
        )
          i.text-xl(class="icon-[material-symbols--add]")
          span= __("Add")
        +buttonInGroup(
          hx-get=`/media/${medium.id}/performers/create`,
          hx-target="#modal",
          type="button"
        )
          i.text-xl(class="icon-[gridicons--create]")
          span= __("Create")

      #performers.flex.flex-wrap.gap-2(
        hx-get=`/media/${medium.id}/performers`,
        hx-trigger="refresh-performers from:body"
      )
        include performers/index.pug

  +listItem(__("URL"))
    - var url = "url" in old ? old.url : medium.url;
    +input.w-full(
      @input="$dispatch('data-changed')",
      name="url",
      value=url
    )

    .flex.flex-col.gap-1
      +error("url")

      if medium.hasError
        span.text-red-500= __("The given URL has an error when accessing it")

  +listItem(__("Thumbnail"))
    +inputThumbnail(medium.thumbnail)(@input="$dispatch('data-changed')")

  +listItem(__("Duration"))
    span= dayjs.neatDuration(medium.duration)

  +listItem(__("Rating"))
    +setRating(`/media/${medium.id}`, medium.rating)

  +listItem(__("Description"))
    - var description = "description" in old ? old.description : medium.description;
    +textarea#description(
      @input="$dispatch('data-changed')",
      name="description",
      rows="5"
    ) #{ description }
  if uploader
    +listItem(__("Uploader"))
      +buttonGroup
        +buttonInGroup(href=`/uploaders/${uploader.id}`)= uploader.name
        +buttonInGroup(
          href=uploader.url,
          target="_blank",
          title=__("Open External Link"),
          type="button"
        )
          i.text-xl(class="icon-[gridicons--external]")
        +buttonInGroup(
          title=__("Copy Uploader's Link"),
          type="button",
          x-bind="writeText",
          x-data=`clipboard("${uploader.url}")`
        )
          i.text-xl(
            :class="copying ? 'icon-[material-symbols--check]' : 'icon-[ph--copy]'"
          )
  if medium.uploadDate
    +listItem(__("Upload Date"))
      span= dayjs(medium.uploadDate).format("YYYY-MM-DD")
  +listItem(__("Created At"))
    span= dayjs(medium.createdAt).format("YYYY-MM-DD HH:mm:ss")
  +listItem(__("Updated At"))
    span= dayjs(medium.updatedAt).format("YYYY-MM-DD HH:mm:ss")

#adjacent.mb-4.flex.gap-2(
  hx-get=`/media/${medium.id}/adjacent?${qs().toString()}`,
  hx-trigger="load"
)
