.flex.flex-col.gap-2(class="sm:flex-row")
  a.relative.block.aspect-video.shrink-0.overflow-hidden.rounded(
    class="sm:basis-44",
    href=`/media/${medium.id}`
  )
    if medium.thumbnail
      img.h-full.w-full.object-cover(src=medium.thumbnail)
    else
      .h-full.bg-gray-800

    small.absolute.bottom-0.right-0.rounded.px-1.text-white(class="bg-black/50") #{ dayjs.neatDuration(medium.duration) }

  .flex.flex-col.flex-wrap.gap-2
    a.w-full.break-words.text-lg.font-semibold(href=`/media/${medium.id}`) #{ medium.title }

    if medium.description
      a.line-clamp-1.overflow-ellipsis.break-all.text-sm(
        href=`/media/${medium.id}`
      ) #{ medium.description }

    .flex.flex-wrap.gap-2
      button.flex.items-center.gap-1.rounded.border.px-2.py-1(
        hx-get=`/media/${medium.id}/play`,
        hx-swap="none"
      )
        i.shrink-0.text-2xl(class="icon-[raphael--play]")
        span #{ __("Play") }
      button.flex.items-center.gap-1.rounded.border.px-2.py-1(
        hx-post=`/media/${medium.id}/queue`,
        hx-swap="none"
      )
        i.shrink-0.text-2xl(class="icon-[ic--outline-watch-later]")
        span #{ __("Watch later") }
