.flex.gap-4.text-gray-600(class="dark:text-gray-300")
  a.shrink-0(href=`/media/${medium.id}`)
    img.size-20.rounded-lg.bg-black.object-cover(
      alt=medium.title,
      class="sm:size-40",
      src=medium.thumbnail
    )

  .flex.flex-col.gap-2.overflow-hidden
    a.font-bold.text-gray-800(
      class="text-lg/tight dark:text-gray-300",
      href=`/media/${medium.id}`
    ) #{ medium.title }

    if medium.performers
      .flex.gap-2
        each performer in medium.performers
          a.text-gray-800(
            class="dark:text-gray-300",
            href=`/performers/${performer.id}`
          )= performer.name

    if medium.rating
      .flex.gap-1
        each val in [1, 2, 3, 4 ,5]
          span.text-xl(
            class=val <= medium.rating ? "icon-[mdi--star]" : "icon-[mdi--star-outline]"
          )

    p.line-clamp-3.whitespace-break-spaces.break-all.text-gray-700(
      class="mt-0.5 dark:text-gray-400"
    ) #{ medium.description }

    +buttonGroup.mt-auto
      +buttonInGroup(
        hx-get=`/media/${medium.id}/play`,
        hx-swap="none",
        title=__("Play")
      )
        i.text-2xl(class="icon-[teenyicons--play-solid]")
      +buttonInGroup(
        hx-post=`/media/${medium.id}/queue`,
        hx-swap="none",
        title=__("Add to The Queue")
      )
        i.text-2xl(class="icon-[ph--stack-light]")
