.flex.gap-4.text-gray-600(class="dark:text-gray-300")
  a.shrink-0(href=`/media/${medium.id}`)
    img.size-20.rounded-lg.bg-black.object-cover(
      alt=medium.title,
      class="sm:size-40",
      src=medium.thumbnail
    )

  .flex.flex-col.gap-2
    a.font-bold.text-gray-800(
      class="text-lg/tight dark:text-gray-300",
      href=`/media/${medium.id}`
    ) #{ medium.title }

    p.line-clamp-3.text-gray-700(class="mt-0.5 dark:text-gray-400") #{ medium.description }

    +buttonGroup.mt-auto
      +buttonInGroup(
        hx-get=`/media/${medium.id}/play`,
        hx-swap="none",
        title=__("Play")
      )
        i.text-2xl(class="icon-[teenyicons--play-solid]")
      +buttonInGroup(
        hx-post=`/media/${medium.id}/queue`,
        hx-swap="none",
        title=__("Add to The Queue")
      )
        i.text-2xl(class="icon-[ph--stack-light]")
