extends ../_layout.pug

block append breadcrumb
  +breadcrumb({ href: '/media', icon: "icon-[ph--play]", name: __("Media") })

block body
  +buttonGroup.mb-4
    +buttonInGroup(href="/extractions/create")
      i.text-2xl(class="icon-[gridicons--create]")
      span #{ __("Create") }

  form(action="/media")
    +select(name="sort")
      option(value="createdAt")= __("Created at")
      option(value="duration")= __("Duration")
      option(value="rating")= __("Rating")
      option(value="title")= __("Title")

    +select(name="sortBy")
      option(value="asc")= __("ASC")
      option(value="desc")= __("DESC")

    +button(type="submit")= __("Filter")

  .mb-4.flex.flex-col.gap-4
    each medium in media
      include _widget.pug

  +paginator
