extends ../_layout.pug

block append breadcrumb
  +breadcrumb({ href: '/media', icon: "icon-[ph--play]", name: __("Media") })

block body
  +buttonGroup.mb-4
    +buttonInGroup(href="/extractions/create")
      i.text-2xl(class="icon-[gridicons--create]")
      span #{ __("Create") }

  form.mb-4.flex.flex-wrap.items-center.justify-between.gap-2(
    action="/media",
    hx-trigger="sort-changed from:body"
  )
    - var query = qs();

    .flex.gap-2
      +input(
        name="search",
        placeholder=__("Search"),
        type="search",
        value=query.search
      )

      +button(type="submit")
        span.text-2xl(class="icon-[material-symbols--search]")

    include _sort.pug

  .mb-4.flex.flex-col.gap-4
    each medium in media
      include _widget.pug

  +paginator
