extends ../_layout.pug

block append breadcrumb
  +breadcrumb({ href: '/media', icon: "icon-[ph--play]", name: __("Media") })

block body
  +buttonGroup.mb-4
    +buttonInGroup(href="/extractions/create")
      i.text-2xl(class="icon-[gridicons--create]")
      span #{ __("Create") }

  form.mb-4.flex.items-center.gap-2(
    action="/media",
    hx-trigger="change from:select, change from:input"
  )
    - var sort = qs().sort || "createdAt";
    - var sortBy = qs().sortBy || "desc";

    +select(name="sort")
      option(selected=sort == "createdAt", value="createdAt")= __("Created at")
      option(selected=sort == "duration", value="duration")= __("Duration")
      option(selected=sort == "rating", value="rating")= __("Rating")
      option(selected=sort == "title", value="title")= __("Title")

    .flex(x-data=`{ sortBy: "${sortBy}" }`)
      +input.hidden(
        name="sortBy",
        x-init="$watch('sortBy', () => $dispatch('change'))",
        x-model="sortBy"
      )

      span.cursor-pointer.text-3xl(
        :class="sortBy == 'desc' ? 'icon-[octicon--sort-desc-24]' : 'icon-[octicon--sort-asc-24]'",
        @click="sortBy = sortBy == 'desc' ? 'asc' : 'desc'"
      )

  .mb-4.flex.flex-col.gap-4
    each medium in media
      include _widget.pug

  +paginator
