extends _layout.pug

block append body
  .sticky.top-10.z-10.bg-white.pb-4(class="sm:top-14 dark:bg-gray-900")
    +buttonGroup
      +buttonInGroup(
        hx-get=`/media/${medium.id}/play`,
        hx-swap="none",
        title=__("Play")
      )
        i.text-xl(class="icon-[teenyicons--play-solid]")
        span.hidden(class="sm:inline-block")= __("Play")
      +buttonInGroup(
        hx-post=`/media/${medium.id}/queue`,
        hx-swap="none",
        title=__("Add to The Queue")
      )
        i.text-xl(class="icon-[ph--stack-light]")
        span.hidden(class="sm:inline-block")= __("Queue")
      +buttonInGroup#save-btn(
        hx-include="#form",
        hx-put=`/media/${medium.id}`,
        hx-target="#form",
        title=__("Save")
      )
        .relative.flex.items-center(
          @medium-changed.window="showHint = true",
          @medium-failed.window=`
            showError = true;
            if (timeoutId) clearTimeout(timeoutId);
            timeoutId = setTimeout(() => showError = false, 1500);
          `,
          @medium-saved.window=`
            showHint = false;
            showError = false;
            showSuccess = true;
            if (timeoutId) clearTimeout(timeoutId);
            timeoutId = setTimeout(() => showSuccess = false, 1500);
          `,
          x-data=`{
            showHint: false,
            showError: false,
            showSuccess: false,
            timeoutId: null,
          }`
        )
          i.text-xl(
            class="icon-[material-symbols--save-outline]",
            x-show="!showError && !showSuccess"
          )
          i.text-xl(class="icon-[heroicons-outline--exclamation]", x-show="showError")
          i.text-xl(class="icon-[material-symbols--check]", x-show="showSuccess")
          span.absolute.right-0.top-0.rounded-full.bg-red-500.p-1(
            x-show="showHint"
          )
        span.hidden(class="sm:inline-block") #{ __("Save") }
      +buttonInGroup(
        hx-delete=`/media/${medium.id}/confirm`,
        hx-target="#modal",
        title=__("Delete"),
        type="button"
      )
        i.text-xl(class="icon-[material-symbols--delete-outline]")
        span.hidden(class="sm:inline-block")= __("Delete")

  #form.mb-4
    include _info.pug
