extends ../_layout.pug

block append breadcrumb
  +breadcrumb({ href: '/media', icon: "icon-[ph--play]", name: __("Media") })

block body
  +buttonGroup.mb-4
    +buttonInGroup(hx-get=`/media/${medium.id}/play`, hx-swap="none")
      i.text-2xl(class="icon-[teenyicons--play-solid]")
      span= __("Play")
    +buttonInGroup(hx-post=`/media/${medium.id}/queue`, hx-swap="none")
      i.text-2xl(class="icon-[ph--stack-light]")
      span= __("Queue")
    +buttonInGroup(
      hx-delete=`/media/${medium.id}/confirm`,
      hx-target="#modal"
    )
      i.text-2xl(class="icon-[material-symbols--delete-outline]")
      span= __("Delete")

  +list.mb-4
    +listItem(__("Title"))
      +input.w-full(value=medium.title)
    +listItem(__("URL"))
      +input.w-full(value=medium.url)
    +listItem(__("Duration"))
      span= dayjs.neatDuration(medium.duration)
    +listItem(__("Chapter"))
      +buttonGroup
        +buttonInGroup#create(
          hx-get=`/media/${medium.id}/chapters/create`,
          hx-target="#modal",
          type="button"
        )
          i.text-xl(class="icon-[gridicons--create]")
          span= __("Create")

      .flex.gap-2(x-data=`{ show: ${chapters.length <= 3} }`)
        .grow.overflow-x-auto
          +table.w-full
            +thead
              +th= __("Title")
              +th= __("Start Time")
              +th= __("End Time")
              +th= __("Operation")
            +tbody
              each chapter, index in chapters
                +tr(x-show=`${index < 3} || show`)
                  +td= chapter.title
                  +td= dayjs.neatDuration(chapter.startTime)
                  +td= dayjs.neatDuration(chapter.endTime)
                  +td
                    +buttonGroup
                      +buttonInGroup(
                        hx-get=`/chapters/${chapter.id}/play`,
                        hx-swap="none",
                        type="button"
                      )
                        i.text-xl(class="icon-[teenyicons--play-solid]")
                      +buttonInGroup(
                        hx-post=`/chapters/${chapter.id}/queue`,
                        hx-swap="none",
                        type="button"
                      )
                        i.text-xl(class="icon-[ph--stack-light]")
                      +buttonInGroup(
                        hx-delete=`/chapters/${chapter.id}/confirm`,
                        hx-target="#modal",
                        type="button"
                      )
                        i.text-xl(class="icon-[material-symbols--delete-outline]")
              +tr(x-show="!show")
                +td.cursor-pointer.text-xs(
                  @click="show = true",
                  class="hover:underline",
                  colspan="4"
                )= "..." + __("And More")
        if chapters.length > 3
          .shrink-0.pt-2
            i.sticky.top-20.cursor-pointer.text-xl(
              :class="show ? 'icon-[material-symbols--collapse-all]' : 'icon-[material-symbols--expand-all]'",
              @click="show = !show",
              class="sm:text-2xl"
            )

    +listItem(__("Description"))
      textarea.min-h-20.w-full.overflow-y-auto.rounded-lg.border.border-gray-200.bg-white.p-2.text-gray-700(
        class="placeholder-gray-400/70 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300",
        name="description",
        rows="5"
      ) #{ medium.description }
    if uploader
      +listItem(__("Uploader"))
        +buttonGroup
          +buttonInGroup(href=`/uploaders/${uploader.id}`)= uploader.name
          +buttonInGroup(
            href=uploader.url,
            target="_blank",
            title=__("Open External Link"),
            type="button"
          )
            i.text-xl(class="icon-[gridicons--external]")
          +buttonInGroup(
            title=__("Copy Uploader's Link"),
            type="button",
            x-bind="writeText",
            x-data=`clipboard("${uploader.url}")`
          )
            i.text-xl(
              :class="copying ? 'icon-[material-symbols--check]' : 'icon-[ph--copy]'"
            )
    +listItem(__("Upload Date"))
      span= dayjs(medium.uploadDate).format("YYYY-MM-DD")
    +listItem(__("Created At"))
      span= dayjs(medium.createdAt).format("YYYY-MM-DD HH:mm:ss")
    +listItem(__("Updated At"))
      span= dayjs(medium.updatedAt).format("YYYY-MM-DD HH:mm:ss")

    if performers.length
      +listItem(__("Performer"))
        each performer in performers
          a.rounded.border.border-gray-500.bg-gray-100.px-1.text-sm(
            href=`/performers/${performer.id}`
          ) #{ performer.name }

    each labels, category in categorized
      +listItem(__(category))
        .flex.flex-wrap
          each label in labels
            span.rounded.border.border-gray-500.bg-gray-100.px-1.text-sm #{ label.text }
