extends ../_layout.pug

block body
  h2 #{ medium.title }
  a(href=medium.url) url
  p #{ medium.description }
  span #{ dayjs.duration(medium.duration, "seconds").format("HH:mm:ss") }
  span #{ medium.uploadDate ? dayjs(medium.uploadDate).format("YYYY-MM-DD") : "" }
  span #{ dayjs(medium.createdAt).format("YYYY-MM-DD HH:mm:ss") }
  span #{ dayjs(medium.updatedAt).format("YYYY-MM-DD HH:mm:ss") }
  img(src=medium.thumbnail)
  if uploader
    a(href=uploader.url) #{ uploader.name }

  each chapter in chapters
    div
      a(href=`/chapters/${chapter.id}/play`, hx-swap="none") #{ chapter.title }
      - var startAt = chapter.startTime ? dayjs.duration(chapter.startTime, "seconds").format("HH:mm:ss") : "";
      - var endAt = chapter.endTime ? dayjs.duration(chapter.endTime, "seconds").format("HH:mm:ss") : "";
      span #{ startAt }
      span #{ endAt }

  each tag in tags
    span #{ tag.name }

  each playlist in playlists
    div
      a(href=`/playlists/${playlist.id}`) #{ playlist.title }
