extends _layout.pug

block append body
  .sticky.top-10.z-10.bg-white.pb-4(class="sm:top-14 dark:bg-gray-900")
    +buttonGroup
      +buttonInGroup(
        hx-get=`/media/${medium.id}/play`,
        hx-swap="none",
        title=__("Play")
      )
        i.text-2xl(class="icon-[teenyicons--play-solid]")
        span.hidden(class="sm:inline-block")= __("Play")
      +buttonInGroup(
        hx-post=`/media/${medium.id}/queue`,
        hx-swap="none",
        title=__("Add to The Queue")
      )
        i.text-2xl(class="icon-[ph--stack-light]")
        span.hidden(class="sm:inline-block")= __("Queue")
      +buttonInGroup#save-btn(
        hx-include="#form",
        hx-put=`/media/${medium.id}`,
        hx-swap="none",
        title=__("Save")
      )
        .relative.flex.items-center(
          @medium-changed.window="show = true",
          @medium-saved.window="show = false",
          x-data="{ show: false }"
        )
          i.text-2xl(class="icon-[material-symbols--save-outline]")
          span.absolute.right-0.top-0.rounded-full.bg-red-500.p-1(
            x-show="show"
          )
        span.hidden(class="sm:inline-block") #{ __("Save") }
      +buttonInGroup(
        hx-delete=`/media/${medium.id}/confirm`,
        hx-target="#modal",
        title=__("Delete"),
        type="button"
      )
        i.text-2xl(class="icon-[material-symbols--delete-outline]")
        span.hidden(class="sm:inline-block")= __("Delete")

  #form.mb-4
    include _info.pug
