mixin pageBtn(page, disabled = false)
  a.rounded-m.flex.items-center.justify-center.rounded-md.px-4.py-2(
    class="rtl:-scale-x-100",
    class=`${disabled ? "text-gray-500 dark:text-gray-600" : "text-gray-700 dark:text-gray-200"}`,
    class=`${disabled ? "pointer-events-none" : "hover:bg-blue-500 hover:text-white"}`,
    class=`${disabled && "dark:hover:bg-blue-500 dark:hover:text-gray-200"}`,
    class=`${currentPage == page && !disabled ? "dark:text-gray-200 dark:bg-blue-500" : "dark:bg-gray-800"}`,
    class=`${currentPage == page && !disabled ? "text-white bg-blue-500": "bg-white"}`,
    href=`${fullPath}?${qs().set("page", page).toString()}`
  )&attributes(attributes)
    block

mixin paginator
  - var eachSide = 2;
  - var totalPage = Math.ceil((count ?? 0) / perPage);

  .mb-1.flex.justify-center.gap-1
    +pageBtn(currentPage - 1, currentPage == 1)&attributes(attributes)
      i(class="icon-[mingcute--left-fill]")

    .hidden.gap-1(class="sm:flex")
      +pageBtn(1)&attributes(attributes)= 1

      if currentPage > eachSide + 2
        +pageBtn(0, true)&attributes(attributes)
          i(class="icon-[bi--three-dots]")

      - var i = Math.max(1, currentPage - eachSide);
        while i < currentPage
          if i != 1
            +pageBtn(i)&attributes(attributes)= i++
          else
            - i++;

        if currentPage != 1 && currentPage != totalPage
          +pageBtn(i)&attributes(attributes)= currentPage

      - var i = Math.min(totalPage, currentPage + 1);
        while i != totalPage && i <= currentPage + eachSide
          +pageBtn(i)&attributes(attributes)= i++

      if currentPage < totalPage - eachSide - 1
        +pageBtn(0, true)&attributes(attributes)
          i(class="icon-[bi--three-dots]")

      if totalPage > 1
        +pageBtn(totalPage)&attributes(attributes)= totalPage

    +pageBtn(currentPage + 1, currentPage == totalPage)&attributes(attributes)
      i(class="icon-[mingcute--right-fill]")

  - var from = (currentPage - 1) * perPage + 1;
  - var to = Math.min(currentPage * perPage, count);
  .mb-1.text-center
    small.text-gray-700(class="dark:text-gray-200") #{ from }-#{ to } (#{ count })

  form.mx-auto.flex.max-w-40.gap-2(
    action=`${fullPath}?${qs().omit("page").toString()}`,
    method="get"
  )&attributes(attributes)
    +input.w-full(
      max=totalPage,
      min="1",
      name="page",
      type="number",
      value=currentPage
    )
    +button= __("Go")
