include /_mixin.pug

- var isInputs = fullPath == "/categories/create/_inputs";
+tab.mb-2
  +tabItem(!isInputs)(
    href="/categories/create/_select",
    hx-target="#category"
  )
    i.text-xl(class="icon-[tabler--select]")
    span= __("Select")
  +tabItem(isInputs)(
    href="/categories/create/_inputs",
    hx-target="#category"
  )
    i.text-xl(class="icon-[gridicons--create]")
    span= __("Create")

h3.mb-2.font-bold= __("Category")

block column
