extends ../_layout.pug

block append breadcrumb
  +breadcrumb({ href: "/playlists", icon: "icon-[mage--playlist]", name: __("Playlist") })

block body
  - var isSamePath = (path) => fullPath == path;
  +tab.mb-4
    +tabItem(isSamePath(`/playlists/${playlist.id}`))(
      href=`/playlists/${playlist.id}`
    )
      i.text-2xl(class="icon-[material-symbols--info-outline]")
      span= __("Info")

    +tabItem(isSamePath(`/playlists/${playlist.id}/labels`))(
      href=`/playlists/${playlist.id}/labels`
    )
      i.text-2xl(class="icon-[material-symbols--category-outline]")
      span= __("Label")

    +tabItem(isSamePath(`/playlists/${playlist.id}/playlist-items`))(
      href=`/playlists/${playlist.id}/playlist-items`
    )
      i.text-2xl(class="icon-[ph--play]")
      span= __("Media")
