extends ../_layout.pug

block vars
  - var title = playlist.title;

block append breadcrumb
  +breadcrumb({ href: "/playlists", icon: "icon-[mage--playlist]", name: __("Playlist") })

block body
  +tab.mb-4
    +tabItem(isSamePath(`/playlists/${playlist.id}`))(
      href=`/playlists/${playlist.id}`
    )
      i.text-2xl(class="icon-[material-symbols--info-outline]")
      span= __("Info")

    +tabItem(isSamePath(`/playlists/${playlist.id}/labels`))(
      href=`/playlists/${playlist.id}/labels`
    )
      i.text-2xl(class="icon-[mynaui--label]")
      span= __("Label")

    +tabItem(isSamePath(`/playlists/${playlist.id}/playlistables`))(
      href=`/playlists/${playlist.id}/playlistables`
    )
      i.text-2xl(class="icon-[ph--play]")
      span= __("Media")
