extends ../_layout.pug

block vars
  - var title = __("Playlist");

block append breadcrumb
  +breadcrumb({ href: "/playlists", icon: "icon-[mage--playlist]", name: __("Playlist") })

block body
  +buttonGroup.mb-4
    +buttonInGroup(hx-get="/playlists/create", hx-target="#modal")
      i.text-2xl(class="icon-[gridicons--create]")
      span #{ __("Create") }

  form.mb-4.flex.flex-wrap.justify-between.gap-2(
    action="/playlists",
    hx-trigger="sort-changed from:body"
  )
    - var query = qs();

    .flex.gap-2
      +input(
        name="search",
        placeholder=__("Search"),
        type="search",
        value=query.search
      )

      +button(type="submit")
        span.text-2xl(class="icon-[material-symbols--search]")

    .flex.items-center.gap-2(
      x-data=`{ sort: "${query.sort || "createdAt"}", sortBy: "${query.sortBy || "desc"}" }`
    )
      +select(
        name="sort",
        title=__("Sort"),
        x-init="$watch('sort', () => $dispatch('sort-changed'))",
        x-model="sort"
      )
        option(value="createdAt")= __("Created at")
        option(value="rating")= __("Rating")
        option(value="title")= __("Title")

      +input#sortBy.hidden(
        name="sortBy",
        x-init="$watch('sortBy', () => $dispatch('sort-changed'))",
        x-model="sortBy"
      )

      +button.flex(
        @click="sortBy = sortBy == 'desc' ? 'asc' : 'desc'",
        title=__("Sort by"),
        type="button"
      )
        span.text-2xl(
          :class="sortBy == 'desc' ? 'icon-[octicon--sort-desc-24]' : 'icon-[octicon--sort-asc-24]'"
        )

  .mb-4.flex.flex-col.gap-4
    each playlist in playlists
      include _widget.pug

  +paginator
