extends ../_layout.pug

block append breadcrumb
  +breadcrumb({ href: "/playlists", icon: "icon-[mage--playlist]", name: __("Playlist") })

block body
  +buttonGroup.mb-4
    +buttonInGroup(
      hx-get=`/playlists/${playlist.id}/play`,
      hx-swap="none",
      title=__("Play")
    )
      i.text-2xl(class="icon-[teenyicons--play-solid]")
      span.hidden(class="sm:inline-block")= __("Play")
    +buttonInGroup(
      hx-post=`/playlists/${playlist.id}/queue`,
      hx-swap="none",
      title=__("Add to The Queue")
    )
      i.text-2xl(class="icon-[ph--stack-light]")
      span.hidden(class="sm:inline-block")= __("Queue")
    +buttonInGroup#save-btn(
      hx-include="#form",
      hx-put=`/playlists/${playlist.id}`,
      hx-target="#form",
      title=__("Save")
    )
      .relative.flex.items-center(
        @playlist-changed.window="showHint = true",
        @playlist-failed.window=`
          showError = true;
          if (timeoutId) clearTimeout(timeoutId);
          timeoutId = setTimeout(() => showError = false, 1500);
        `,
        @playlist-saved.window=`
          showHint = false;
          showError = false;
          showSuccess = true;
          if (timeoutId) clearTimeout(timeoutId);
          timeoutId = setTimeout(() => showSuccess = false, 1500);
        `,
        x-data=`{
          showHint: false,
          showError: false,
          showSuccess: false,
          timeoutId: null,
        }`
      )
        i.text-2xl(
          class="icon-[material-symbols--save-outline]",
          x-show="!showError && !showSuccess"
        )
        i.text-2xl(class="icon-[heroicons-outline--exclamation]", x-show="showError")
        i.text-2xl(class="icon-[material-symbols--check]", x-show="showSuccess")
        span.absolute.right-0.top-0.rounded-full.bg-red-500.p-1(
          x-show="showHint"
        )
        span.hidden(class="sm:inline-block") #{ __("Save") }
    +buttonInGroup(
      hx-delete=`/playlists/${playlist.id}/confirm`,
      hx-target="#modal",
      title=__("Delete"),
      type="button"
    )
      i.text-2xl(class="icon-[material-symbols--delete-outline]")
      span.hidden(class="sm:inline-block")= __("Delete")

  #form.mb-4
    include _info.pug

  hr.mb-2

  .flex.flex-col.gap-4(
    class="sm:gap-2",
    x-data=`{
      id: '',
      order: 0,
      handle: () => {
        $nextTick(() => { htmx.process($refs.sort);
        htmx.trigger($refs.sort, "sorted") });
      }
    }`,
    x-sort="id = $item; order = $position; handle()"
  )
    input(
      :hx-put="`/playlist-items/${id}`",
      hx-include="this",
      hx-trigger="sorted",
      name="order",
      type="hidden",
      x-model="order",
      x-ref="sort"
    )

    each item in items
      .flex.flex-col.gap-1(
        class="sm:flex-row sm:items-center",
        x-sort:item=`"${item.id}"`
      )
        .flex.items-center.gap-2(class="sm:flex-col")
          i.cursor-pointer.text-2xl(class="icon-[mingcute--dots-fill]", x-sort:handle)
          input.w-10.rounded.border.p-1.text-center(
            @keyup.enter=`id = "${item.id}"; order = $el.value; handle()`,
            type="text",
            value=item.order
          )
        .flex.grow.flex-col.gap-1
          - var medium = item.medium;
          - var chapter = item.chapter;
          if (chapter)
            include ../chapters/_widget.pug
            .flex
              .relative.w-6.shrink-0
                .absolute.right-0.top-0.rounded-bl.border-b.border-l.border-gray-300(
                  class="h-1/2 w-1/2"
                )
              include ../media/_widget.pug
          else
            include ../media/_widget.pug
