extends ../_layout.pug

block body
  .flex.flex-wrap.gap-2.rounded.border.p-2
    .flex.basis-full(class="sm:basis-1/3")
      img.rounded(src=playlist.thumbnail)
    .flex.grow.flex-col.flex-wrap.justify-between
      h2.break-words.text-xl #{ playlist.title }
      .flex.flex-wrap.justify-between.gap-2
        .flex.flex-wrap.gap-2
          button.flex.items-center.gap-1.rounded.border.px-2.py-1.font-bold(
            hx-get=`/playlists/${playlist.id}/play`,
            hx-swap="none"
          )
            i.shrink-0.text-2xl(class="icon-[mdi--play]")
            span #{ __("Play") }
          button.flex.items-center.gap-1.rounded.border.px-2.py-1.font-bold(
            hx-post=`/playlists/${playlist.id}/queue`,
            hx-swap="none"
          )
            i.shrink-0.text-2xl(class="icon-[ic--outline-watch-later]")
            span #{ __("Watch later") }
        button.flex.items-center.gap-1.px-2.font-bold.text-gray-500(
          hx-post=`/playlists/${playlist.id}/queue`,
          hx-swap="none"
        )
          i.shrink-0.text-2xl(class="icon-[material-symbols--delete-outline]")
          span #{ __("Delete") }

  each item in items
    div
      if (item.chapter)
        span #{ item.chapter.title }
      a(href=`/media/${item.medium.id}`) #{ item.medium.title }
