extends ../_layout.pug

block body
  .mb-2.flex.flex-wrap.items-center.justify-between
    h1.text-xl.font-bold #{ __("Playlist") }

    button.flex.items-center.gap-1.rounded.border.px-2.py-1.font-bold.text-gray-500(
      @click=`$dispatch('confirm', {
            listener: "delete-playlist",
            message: '${__("Are you sure you want to delete this playlist?")}',
          })`,
      @delete-playlist.window="if ($event.detail) htmx.trigger($el, 'confirmed')",
      hx-delete=`/playlists/${playlist.id}`,
      hx-trigger="confirmed",
      x-data=""
    )
      i.shrink-0.text-2xl(class="icon-[material-symbols--delete-outline]")
      span #{ __("Delete") }

  include _widget.pug

  each item in items
    div
      if (item.chapter)
        span #{ item.chapter.title }
      a(href=`/media/${item.medium.id}`) #{ item.medium.title }
