include /_mixin.pug

+input.mb-4.w-full(
  hx-get=`${basePath}/performers/add?_list`,
  hx-target="#add-performer",
  hx-trigger="input changed delay:500ms",
  name="name",
  placeholder=__("Search")
)

#add-performer
  include _list.pug
