include /_mixin.pug

form.flex.flex-col.gap-2(
  action=`${basePath}/labels`,
  hx-target="#modal",
  method="POST"
)
  +input.w-full(name="category", placeholder=__("Category"))

  .flex.flex-col
    +input.w-full(name="text", placeholder=__("Text"))
    +error("text")

  +button.ml-auto
    i.text-2xl(class="icon-[gridicons--create]")
    span= __("Create")
