include /_mixin.pug

- var route = chapter ? { "hx-put": `/chapters/${chapter.id}` } : { "hx-post": `/media/${medium.id}/chapters` };

form#chapter-form.flex.flex-col.gap-2(
  x-data=`{
    startTime: dayjs.duration(${ old.startTime || (chapter ? chapter.startTime : 0) }, 'seconds'),
    endTime: dayjs.duration(${ old.endTime || (chapter ? chapter.endTime : medium.duration) }, 'seconds'),
    sHours: 0, sMinutes: 0, sSeconds: 0,
    eHours: 0, eMinutes: 0, eSeconds: 1,
  }`,
  x-effect=`
    startTime = dayjs.duration({ hours: sHours, minutes: sMinutes, seconds: sSeconds });
    endTime = dayjs.duration({ hours: eHours, minutes: eMinutes, seconds: eSeconds });
  `,
  x-init=`
    sHours = startTime.hours();
    sMinutes = startTime.minutes();
    sSeconds = startTime.seconds();
    eHours = endTime.hours();
    eMinutes = endTime.minutes();
    eSeconds = endTime.seconds();
  `
)&attributes(route)
  input(name="startTime", type="hidden", x-model="startTime.asSeconds()")
  input(name="endTime", type="hidden", x-model="endTime.asSeconds()")

  h2.mb-2.text-lg.font-bold.text-gray-700(class="dark:text-gray-300") #{ chapter ? __("Edit the chapter") : __("Create a new chapter") }

  +list
    +listItem(__("Title"))
      +input.w-full(
        name="title",
        required,
        type="text",
        value=old.title || (chapter ? chapter.title : "")
      )
      +error("title")

    +listItem(__("Start Time"))
      .mb-2.flex.flex-wrap.items-center.gap-1
        +input.w-16(min="0", type="number", x-model="sHours")
        | :
        +input.w-16(min="0", type="number", x-model="sMinutes")
        | :
        +input.w-16(min="0", type="number", x-model="sSeconds")
        - var ogStartTime = dayjs.duration(chapter ? chapter.startTime : 0, "seconds");
        +button#reset-1(
          @click=`
              sHours = ${ogStartTime.hours()};
              sMinutes = ${ogStartTime.minutes()};
              sSeconds = ${ogStartTime.seconds()};
            `,
          type="button"
        )
          i.text-xl(class="icon-[lucide--timer-reset]")
          span= __("Reset")
      span(x-text="dayjs.neatDuration(startTime.asSeconds())")

      +error("startTime")

    +listItem(__("End Time"))
      .mb-2.flex.flex-wrap.items-center.gap-1
        +input.w-16(min="0", type="number", x-model="eHours")
        | :
        +input.w-16(min="0", type="number", x-model="eMinutes")
        | :
        +input.w-16(min="0", type="number", x-model="eSeconds")
        - var ogEndTime = dayjs.duration(chapter ? chapter.endTime : medium.duration, "seconds");
        +button#reset-2(
          @click=`
              eHours = ${ogEndTime.hours()};
              eMinutes = ${ogEndTime.minutes()};
              eSeconds = ${ogEndTime.seconds()};
            `,
          type="button"
        )
          i.text-xl(class="icon-[lucide--timer-reset]")
          span= __("Reset")
      span(x-text="dayjs.neatDuration(endTime.asSeconds())")

      +error("endTime")

  .flex.flex-wrap.items-center.justify-end.gap-2
    +buttonGroup
      +buttonInGroup#save(type="submit")
        i.text-2xl(class="icon-[material-symbols--save-outline]")
        span= __("Save")
      +buttonInGroup#cancel(@click="show = false", type="button")
        i.text-2xl(class="icon-[material-symbols--close]")
        span= __("Cancel")
