include /_mixin.pug

+input.mb-4.w-full(
  autofocus,
  hx-get=`${basePath}/media/add?_list`,
  hx-target="#add-medium",
  hx-trigger="input changed delay:500ms",
  name="search",
  placeholder=__("Search")
)

#add-medium
  include _list.pug
