include /_mixin.pug

form.mb-4.flex.flex-wrap.items-center.justify-between.gap-2(
  action=`${basePath}/media/add?_list`,
  hx-swap="show:none",
  hx-target="#add-medium",
  hx-trigger="sort-changed from:body, input from:input changed delay:250ms"
)
  - var query = qs();

  +input(
    autofocus="",
    name="search",
    placeholder=__("Search"),
    type="search"
  )

  include /media/_sort.pug

#add-medium
  include _list.pug
