#progress-bar.group.relative.flex.h-2(
  x-data=`{ duration: ${duration}, percent: 0, startTime: ${startTime}, endTime: ${endTime} }`,
  x-effect="percent = Math.min((currentTime / duration) * 100, 100)"
)
  #track-bg.pointer-events-none.absolute.w-full.rounded.bg-gray-300(
    class="top-1/2 h-1.5 -translate-y-1/2 group-hover:h-2"
  )
  #played-track.pointer-events-none.absolute.rounded.bg-pink-400(
    :style="{ width: `${percent}%` }",
    class="top-1/2 h-1.5 -translate-y-1/2 group-hover:h-2"
  )
  #chapter-start.pointer-events-none.absolute.h-4.border-r-2.border-blue-400(
    :style="{ width: Math.min((startTime / duration) * 100, 100) + '%' }",
    class="top-1/2 -translate-y-1/2",
    x-show="!isNaN(startTime)"
  )
  #chapter-end.pointer-events-none.absolute.h-4.border-r-2.border-blue-400(
    :style="{ width: Math.min((endTime / duration) * 100, 100) + '%' }",
    class="top-1/2 -translate-y-1/2",
    x-show="!isNaN(endTime)"
  )
  #seek-anchor.absolute.hidden.-translate-y-8.bg-gray-700.px-1.text-sm.text-white(
    @set-anchor.window="$el.style.left = $event.detail * 100 + '%'; $el.innerText = dayjs.neatDuration(Math.round($event.detail * duration))",
    class="-translate-x-1/2 group-hover:inline-block"
  )
  input.w-full.cursor-pointer.appearance-none.bg-transparent(
    :value="!seek && currentTime",
    @mousedown="seek = true",
    @mousemove="$dispatch('set-anchor', ($event.clientX - rect.left) / (rect.right - rect.left))",
    @mouseup.debounce="seek = false",
    class="[&::-webkit-slider-runnable-track]:h-2 [&::-webkit-slider-thumb]:h-px [&::-webkit-slider-thumb]:w-px [&::-webkit-slider-thumb]:appearance-none",
    hx-include="[name='seek']",
    hx-put="/player/seek",
    max=duration,
    min="0",
    name="seek",
    step="0.01",
    type="range",
    x-data=`{
      seek: false,
      get rect() { return $el.getBoundingClientRect() }
    }`
  )
