i#play-btn.cursor-pointer.text-2xl(
  class="icon-[mdi--play]",
  hx-put="/player/resume",
  hx-swap-oob="true"
)
i#minimized-play-btn.cursor-pointer.text-2xl(
  class="icon-[mdi--play]",
  hx-put="/player/resume",
  hx-swap-oob="true"
)
