mixin controlIcon(iconClass="")
  .-my-2.mx-auto.flex.h-20.w-20.flex-none.items-center.justify-center.rounded-full.bg-white.text-slate-900.shadow-md.ring-1.transition-all.transition-all.duration-500.duration-500(
    class="ring-slate-900/5 dark:bg-slate-100 dark:text-slate-700",
    type="button"
  )
    i.text-4xl(class=iconClass)

#player.fixed.bottom-8(
  @open-player.window="show = !show",
  class="left-1/2 w-11/12 -translate-x-1/2 sm:w-auto",
  hx-preserve,
  x-data="{ show: false }",
  x-show="show"
)
  .relative.rounded-xl.shadow-xl(class="sm:ml-16", x-data="playingTrack")
    .absolute.right-2.top-2
      button.text-xl.text-slate-500(
        @click="show = false",
        class="icon-[iconamoon--close-thin] dark:text-slate-200"
      )

    .space-y-6.rounded-t-xl.border.border-slate-100.bg-white.p-4.pb-6.transition-all.transition-all.duration-500.duration-500(
      class="sm:min-w-96 sm:space-y-8 sm:p-10 sm:pb-8 lg:space-y-6 lg:p-6 xl:space-y-8 xl:p-10 xl:pb-8 dark:border-transparent dark:border-b-slate-500 dark:bg-slate-800"
    )
      #show-playing

      .space-y-2
        .group.relative(
          x-data=`{
            seeking: false,
            seekRatio: 0,
          }`
        )
          #track-bg.h-2.overflow-hidden.rounded-full.bg-slate-100.transition-all.duration-500(
            class="dark:bg-slate-700"
          )
            #played-track.h-2.bg-cyan-500.transition-colors.duration-500(
              :style="{ width: seeking ? `${seekRatio * 100}%` : `${percentage}%` }",
              class="dark:bg-cyan-400"
            )
            input.absolute.left-0.top-0.w-full.cursor-pointer.appearance-none.bg-transparent(
              :max="duration",
              :value="!seeking && currentTime",
              @mousedown="seeking = true",
              @mousemove="seekRatio = (Math.min(Math.max($event.clientX, rect.left), rect.right) - rect.left) / (rect.right - rect.left)",
              @mouseup.debounce="seeking = false",
              class="[&::-webkit-slider-runnable-track]:h-2 [&::-webkit-slider-thumb]:h-px [&::-webkit-slider-thumb]:w-px [&::-webkit-slider-thumb]:appearance-none",
              hx-include="[name='seek']",
              hx-put="/player/seek",
              min="0",
              name="seek",
              step="0.01",
              type="range",
              x-data="{ get rect() { return $el.getBoundingClientRect() } }"
            )
          #seek-anchor.absolute.hidden.-translate-y-8.rounded.bg-white.px-1.text-sm.text-slate-900.shadow-md.ring-1(
            :style="{ left: seekRatio * 100 + '%' }",
            class="-translate-x-1/2 ring-slate-900/5 group-hover:inline-block dark:bg-slate-100 dark:text-slate-700",
            x-text="dayjs.neatDuration(Math.round(seekRatio * duration))"
          )

        .flex.justify-between.text-sm.font-medium.tabular-nums.leading-6
          .text-cyan-500.transition-all.duration-500(
            class="dark:text-slate-100",
            x-text="dayjs.neatDuration(currentTime)"
          )
          .flex.gap-1
            #chapter-end-time

            .text-slate-500.transition-all.duration-500(
              class="dark:text-slate-400",
              x-text="dayjs.neatDuration(duration)"
            )
    .flex.items-center.rounded-b-xl.bg-slate-50.text-slate-500.transition-all.transition-all.duration-500.duration-500(
      @track-ended.window=`
        if (currentRepeatMode == RepeatMode.Single)
          $dispatch('replay')
        else if (currentNextMode) {
          if (currentNextMode == NextMode.Random) $dispatch('play-random')
          else $dispatch('play-next')
        } else if (currentRepeatMode)
          $dispatch('replay')
      `,
      class="dark:bg-slate-600 dark:text-slate-200",
      x-data=`{
        NextMode: {
          Not: 0,
          All: 1,
          Random: 2,
        },
        RepeatMode: {
          Not: 0,
          Single: 1,
          All: 2,
        },
        currentNextMode: 0,
        currentRepeatMode: 0,
      }`
    )
      #next-medium

      #has-error

      #medium-succeed

      #random-medium

      .flex.flex-auto.items-center.justify-evenly.gap-1.px-1
        button.flex.items-center.text-2xl(
          @click="currentNextMode = (currentNextMode + 1) % Object.keys(NextMode).length"
        )
          i(
            class="icon-[ic--baseline-play-disabled]",
            title=__("Autoplay Disabled"),
            x-show="currentNextMode == NextMode.Not"
          )
          i(
            class="icon-[material-symbols--autoplay]",
            title=__("Autoplay Enabled"),
            x-show="currentNextMode == NextMode.All"
          )
          i(
            class="icon-[la--random]",
            title=__("Autoplay Randomly"),
            x-show="currentNextMode == NextMode.Random"
          )
        button.flex.items-center.text-2xl(
          @click="currentRepeatMode = (currentRepeatMode + 1) % Object.keys(RepeatMode).length",
          type="button"
        )
          i(
            class="icon-[fluent--arrow-repeat-all-off-16-regular]",
            title=__("Repeat Disabled"),
            x-show="currentRepeatMode == RepeatMode.Not"
          )
          i(
            class="icon-[fluent--arrow-repeat-1-16-regular]",
            title=__("Repeat Current"),
            x-show="currentRepeatMode == RepeatMode.Single"
          )
          i(
            class="icon-[fluent--arrow-repeat-all-16-regular]",
            title=__("Repeat All"),
            x-show="currentRepeatMode == RepeatMode.All"
          )
        button.text-2xl(
          class="icon-[material-symbols--stop]",
          hx-put="/player/stop",
          hx-swap="none",
          type="button"
        )

      div(
        @track-ended.window="ended = true",
        @track-started.window="ended = false; playing = true",
        @track-stopped.window="ended = true",
        x-data="{ playing: false, ended: true }"
      )
        button(
          @click="playing = false",
          hx-put="/player/pause",
          hx-swap="none",
          x-show="playing && !ended"
        )
          +controlIcon("icon-[ion--pause-outline]")
        button(
          @click="playing = true",
          hx-put="/player/resume",
          hx-swap="none",
          x-show="!playing && !ended"
        )
          +controlIcon("icon-[teenyicons--play-solid] translate-x-0.5")
        button(
          hx-put="/player/replay",
          hx-swap="none",
          hx-trigger="click, replay from:window",
          x-show="ended"
        )
          +controlIcon("icon-[material-symbols--replay]")

      .flex.flex-auto.items-center.justify-evenly.gap-1.px-1
        button.text-2xl(
          @click="$dispatch('play-next-button')",
          class="icon-[mdi--next-title]",
          type="button"
        )

        .relative.flex(
          @mouseenter="show = true",
          @mouseleave="timeoutId = setTimeout(() => (show = false), 250)",
          @wheel.prevent=`
            if ($event.deltaY < 0) volume = Math.min(maxVolume, Number(volume) + 2);
            else volume = Math.max(0, Number(volume) - 2);
            $nextTick(() => $dispatch("set-volume"));
          `,
          x-data="{ maxVolume: 130, show: false, timeoutId: null }"
        )
          .absolute.flex.origin-left.-translate-y-4.translate-x-3.-rotate-90.items-center.rounded-full.border.bg-white.p-2.shadow-md(
            @mouseenter="clearTimeout(timeoutId)",
            @mouseleave="show = false",
            class="dark:border-slate-500 dark:bg-slate-700",
            x-show="show"
          )
            input.range-sm.h-1.cursor-pointer.appearance-none.rounded-lg.bg-gray-200(
              :max="maxVolume",
              @change="$dispatch('set-volume')",
              class="dark:bg-gray-500",
              hx-include="this",
              hx-put="/player/volume",
              hx-trigger="set-volume from:window",
              min="0",
              name="volume",
              step="1",
              type="range",
              x-model="volume"
            )
          button.flex.text-2xl(
            @click="mute = !mute",
            hx-put="/player/mute",
            hx-swap="none",
            type="button"
          )
            i(
              :class="mute ? 'icon-[ic--sharp-volume-off]' : 'icon-[ic--sharp-volume-up]'"
            )
          small.absolute.-bottom-5.mx-auto(
            class="left-1/2 -translate-x-1/2",
            x-show="show",
            x-text="volume"
          )

        button.text-2xl(class="icon-[material-symbols--settings]", type="button")
