#player.fixed.bottom-8(
  @open-player.window="show = !show",
  class="left-1/2 -translate-x-1/2",
  hx-preserve,
  x-data="{ show: true }",
  x-show="show"
)
  .relative.ml-16.rounded-xl.shadow-xl
    .absolute.right-2.top-2
      button.text-xl.text-slate-500(
        @click="show = false",
        class="icon-[iconamoon--close-thin] dark:text-slate-200"
      )

    .space-y-6.rounded-t-xl.border.border-slate-100.bg-white.p-4.pb-6.transition-all.transition-all.duration-500.duration-500(
      class="sm:min-w-96 sm:space-y-8 sm:p-10 sm:pb-8 lg:space-y-6 lg:p-6 xl:space-y-8 xl:p-10 xl:pb-8 dark:border-transparent dark:border-b-slate-500 dark:bg-slate-800"
    )
      .flex.items-center.space-x-4
        img.flex-none.rounded-lg.bg-slate-100(
          alt="",
          decoding="async",
          height="88",
          loading="lazy",
          src="https://tailwindcss.com/_next/static/media/full-stack-radio.afb14e4e.png",
          width="88"
        )
        .min-w-0.flex-auto.space-y-1.font-semibold
          p.text-sm.leading-6.text-cyan-500.transition-all.duration-500(
            class="dark:text-cyan-400"
          ) Chapter
          p.truncate.text-sm.leading-6.text-slate-500.transition-all.duration-500(
            class="dark:text-slate-400"
          ) description
          h2.text-lg.text-slate-900.transition-all.duration-500(
            class="dark:text-slate-50"
          ) Title
      .space-y-2(x-data="playingTrack")
        .group.relative(
          x-data=`{
            seeking: false,
            seekRatio: 0,
          }`
        )
          #track-bg.h-2.overflow-hidden.rounded-full.bg-slate-100.transition-all.duration-500(
            class="dark:bg-slate-700"
          )
            #played-track.h-2.bg-cyan-500.transition-colors.duration-500(
              :style="{ width: seeking ? `${seekRatio * 100}%` : `${percentage}%` }",
              class="dark:bg-cyan-400"
            )
            input.absolute.left-0.top-0.w-full.cursor-pointer.appearance-none.bg-transparent(
              :max="duration",
              :value="!seeking && currentTime",
              @mousedown="seeking = true",
              @mousemove="seekRatio = (Math.min(Math.max($event.clientX, rect.left), rect.right) - rect.left) / (rect.right - rect.left)",
              @mouseup.debounce="seeking = false",
              class="[&::-webkit-slider-runnable-track]:h-2 [&::-webkit-slider-thumb]:h-px [&::-webkit-slider-thumb]:w-px [&::-webkit-slider-thumb]:appearance-none",
              hx-include="[name='seek']",
              hx-put="/player/seek",
              min="0",
              name="seek",
              step="0.01",
              type="range",
              x-data="{ get rect() { return $el.getBoundingClientRect() } }"
            )
          #seek-anchor.absolute.hidden.-translate-y-8.rounded.bg-white.px-1.text-sm.text-slate-900.shadow-md.ring-1(
            :style="{ left: seekRatio * 100 + '%' }",
            class="-translate-x-1/2 ring-slate-900/5 group-hover:inline-block dark:bg-slate-100 dark:text-slate-700",
            x-text="dayjs.neatDuration(Math.round(seekRatio * duration))"
          )

        .flex.justify-between.text-sm.font-medium.tabular-nums.leading-6
          .text-cyan-500.transition-all.duration-500(
            class="dark:text-slate-100",
            x-text="dayjs.neatDuration(currentTime)"
          )
          .text-slate-500.transition-all.duration-500(
            class="dark:text-slate-400",
            x-text="dayjs.neatDuration(duration)"
          )
    .flex.items-center.rounded-b-xl.bg-slate-50.text-slate-500.transition-all.transition-all.duration-500.duration-500(
      class="dark:bg-slate-600 dark:text-slate-200"
    )
      .flex.flex-auto.items-center.justify-evenly.gap-1.px-1
        button.text-2xl(class="icon-[la--random]", type="button")
        button.text-2xl(
          class="icon-[fluent--arrow-repeat-all-off-16-regular]",
          type="button"
        )
        button.text-2xl(class="icon-[material-symbols--stop]", type="button")

      button.-my-2.mx-auto.flex.h-20.w-20.flex-none.items-center.justify-center.rounded-full.bg-white.text-slate-900.shadow-md.ring-1.transition-all.transition-all.duration-500.duration-500(
        class="ring-slate-900/5 dark:bg-slate-100 dark:text-slate-700",
        type="button"
      )
        i.text-4xl(class="icon-[ion--pause-outline]")

      .flex.flex-auto.items-center.justify-evenly.gap-1.px-1
        button.text-2xl(class="icon-[mdi--next-title]", type="button")
        button.text-2xl(class="icon-[ic--sharp-volume-up]", type="button")
        button.text-2xl(class="icon-[material-symbols--settings]", type="button")
