- var query = qs();

#show-playing.flex.items-center.space-x-4(hx-swap-oob="true")
  a.shrink-0(href=`${from}?${query.toString()}`)
    img.size-20.flex-none.rounded-lg.bg-slate-100.object-cover(
      alt=medium.title,
      class="dark:bg-slate-700",
      decoding="async",
      loading="lazy",
      src=playlist ? playlist.thumbnail : medium.thumbnail
    )
  .min-w-0.flex-auto.space-y-1.font-semibold
    if chapter
      p.text-sm.leading-6.text-cyan-500.transition-all.duration-500(
        class="dark:text-cyan-400"
      )= chapter.title

    p.line-clamp-1.max-w-md.truncate.text-wrap.text-sm.leading-6.text-slate-500.transition-all.duration-500(
      class="dark:text-slate-400"
    )= medium.description
    h2.text-lg.text-slate-900.transition-all.duration-500(class="dark:text-slate-50")= medium.title

if chapter
  #chapter-end-time.text-slate-400.transition-all.duration-500(
    class="dark:text-slate-500",
    hx-swap-oob="true",
    title=__("Chapter End Time"),
    x-text=`dayjs.neatDuration(${chapter.endTime}) + ' |'`
  )
else
  #chapter-end-time(hx-swap-oob="true")

#next-medium(
  hx-get=`${next}?${query.toString()}`,
  hx-swap-oob="true",
  hx-trigger="play-next from:body"
)

#has-error(
  @track-error.window="$dispatch('track-ended')",
  hx-put=`/media/${medium.id}/error`,
  hx-swap-oob="true",
  hx-trigger="track-error from:body"
)

#random-medium(
  hx-get=random,
  hx-swap-oob="true",
  hx-trigger="play-random from:body"
)
